openapi: 3.0.3
info:
  title: DVDMS Integration Plugin - Institute API
  description: |
    API specification for managing facility-to-DVDMS institutes.

    Each CARE facility can have exactly ONE institute (UNIQUE on facility_id).
    The institute establishes the connection between CARE and the DVDMS system.
  version: 1.0.0
  contact:
    name: Jagankumar E
    email: jagan.kumar@egov.org.in

servers:
  - url: https://care.ohc.network/api/care_dvdms
    description: Dev server
  - url: https://care-k3s.digit.org/api/care_dvdms
    description: Egov server

tags:
  - name: Institutes
    description: Manage facility to DVDMS institutes
  - name: Supplier Mappings
    description: Manage supplier (warehouse) mappings for institutes
  - name: Store Mappings
    description: Manage store mappings for institutes
  - name: DVDMS Lookups
    description: Lookup data directly from DVDMS system (warehouses, stores, etc.)
  - name: Record Orders
    description: Manage DVDMS record orders (indents/requisitions)
  - name: Record Item Orders
    description: Manage individual items in DVDMS record orders
  - name: DVDMS Outwards Record
    description: Manage outwards records for DVDMS indent creation and sync status

security:
  - BearerAuth: []

paths:
  /facility/{facility_external_id}/institute/:
    post:
      tags:
        - Institutes
      summary: Create institute for a facility
      description: |
        Create a mapping between a CARE facility and DVDMS institute.
        A facility can have only one institute (UNIQUE on facility_external_id).

        **Note:** facility_external_id is in the URL, so it's automatically set from the path parameter.
      operationId: createInstitute
      parameters:
        - name: facility_external_id
          in: path
          required: true
          description: CARE facility external_id (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstituteCreate'
            example:
              eaushadhi_institute_id: "000931"
              eaushadhi_user_ref_id: "14462"
              eaushadhi_institute_name: "Ranchi DH"
              schema_version: "1.0"
      responses:
        '201':
          description: Institute created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institute'
              example:
                id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                facility_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                eaushadhi_institute_id: "000931"
                eaushadhi_user_ref_id: "14462"
                eaushadhi_institute_name: "Ranchi DH"
                schema_version: "1.0"
                meta: null
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Conflict - this facility already has a mapping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Institute already exists for this facility"
                code: "MAPPING_EXISTS"
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Institutes
      summary: Get institute for a facility
      description: |
        Retrieve the institute for a specific facility.
        Returns 404 if no mapping exists.
      operationId: getInstitute
      parameters:
        - name: facility_external_id
          in: path
          required: true
          description: CARE facility external_id (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Institute details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institute'
              example:
                id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                facility_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                eaushadhi_institute_id: "000931"
                eaushadhi_user_ref_id: "14462"
                eaushadhi_institute_name: "Ranchi DH"
                schema_version: "1.0"
                meta: null
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No institute found for this facility
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "No institute found for this facility"
                code: "MAPPING_NOT_FOUND"
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - Institutes
      summary: Update institute for a facility
      description: |
        Update the institute for a specific facility.
        All fields are optional; only supplied fields are updated.
      operationId: updateInstitute
      parameters:
        - name: facility_external_id
          in: path
          required: true
          description: CARE facility external_id (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstituteUpdate'
            examples:
              update_user_reference:
                summary: Update user reference ID
                value:
                  eaushadhi_user_ref_id: "14463"
              update_schema_version:
                summary: Update schema version
                value:
                  schema_version: "2.0"
              update_multiple:
                summary: Update multiple fields
                value:
                  eaushadhi_user_ref_id: "14464"
                  schema_version: "2.0"
                  meta:
                    last_sync: "2026-05-20T10:30:00Z"
                    notes: "Updated after migration"
      responses:
        '200':
          description: Institute updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institute'
              example:
                id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                facility_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                eaushadhi_institute_id: "000931"
                eaushadhi_user_ref_id: "14464"
                eaushadhi_institute_name: "Ranchi DH"
                schema_version: "2.0"
                meta:
                  last_sync: "2026-05-20T10:30:00Z"
                  notes: "Updated after migration"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by:
                  id: "uuid2"
                  username: "updater"
                  first_name: "Update"
                  last_name: "User"
                  email: "updater@example.com"
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-20 10:35:22.123456+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No institute found for this facility
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "No institute found for this facility"
                code: "MAPPING_NOT_FOUND"
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- Supplier Mappings ----------
  /facility/{facility_external_id}/institute/{institute_id}/suppliers/:
    post:
      tags:
        - Supplier Mappings
      summary: Add a supplier mapping
      description: |
        Add a supplier (warehouse) mapping to the institute.
        Maps a CARE supplier to a DVDMS warehouse name for inward matching.
        At most one supplier can be marked as default.
      operationId: createSupplierMapping
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierMappingCreate'
            example:
              supplier: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
              eaushadhi_warehouse_id: "99901000"
              eaushadhi_warehouse_name: "Bokaro_DWH"
              is_default: true
      responses:
        '201':
          description: Supplier mapping created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierMapping'
              example:
                id: "uuid1"
                supplier:
                  id: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
                  name: "Medplus"
                  org_type: "product_supplier"
                eaushadhi_warehouse_id: "99901000"
                eaushadhi_warehouse_name: "Bokaro_DWH"
                is_default: true
                institute_id: "uuid"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - supplier already mapped or multiple defaults
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Supplier Mappings
      summary: List supplier mappings
      description: Get all supplier mappings for this institute
      operationId: listSupplierMappings
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of supplier mappings
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SupplierMapping'
              example:
                count: 2
                results:
                  - id: "uuid1"
                    supplier:
                      id: "5aa85d4e-3456-41fb-aee2-8076f07cb91b"
                      name: "Medplus"
                      org_type: "product_supplier"
                    eaushadhi_warehouse_id: "99901000"
                    eaushadhi_warehouse_name: "Bokaro_DWH"
                    is_default: true
                    created_date: "2026-05-19 19:29:35.868682+05:30"
                  - id: "uuid2"
                    supplier:
                      id: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
                      name: "Apollo Pharmacy"
                      org_type: "product_supplier"
                    eaushadhi_warehouse_id: "99901001"
                    eaushadhi_warehouse_name: "Ranchi_DWH"
                    is_default: false
                    created_date: "2026-05-19 19:29:35.868682+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /facility/{facility_external_id}/institute/{institute_id}/suppliers/{supplier_mapping_id}/:
    delete:
      tags:
        - Supplier Mappings
      summary: Remove supplier mapping
      description: Soft-delete a supplier mapping
      operationId: deleteSupplierMapping
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: supplier_mapping_id
          in: path
          required: true
          description: Supplier mapping UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Supplier mapping deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: "Supplier mapping deleted successfully"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- Store Mappings ----------
  /facility/{facility_external_id}/institute/{institute_id}/stores/:
    post:
      tags:
        - Store Mappings
      summary: Add a store mapping
      description: |
        Add a store mapping to the institute.
        Maps a CARE store to a DVDMS store ID for indent/issue operations.
        At most one store can be marked as default.
      operationId: createStoreMapping
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreMappingCreate'
            example:
              store: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
              eaushadhi_store_id: "99901002"
              eaushadhi_store_name: "CHC Pharmacy"
              is_default: true
      responses:
        '201':
          description: Store mapping created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreMapping'
              example:
                id: "uuid1"
                store:
                  id: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
                  name: "Counter 1"
                  form: "ro"
                eaushadhi_store_id: "99901002"
                eaushadhi_store_name: "CHC Pharmacy"
                is_default: true
                institute_id: "uuid"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - store already mapped or multiple defaults
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Store Mappings
      summary: List store mappings
      description: Get all store mappings for this institute
      operationId: listStoreMappings
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of store mappings
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/StoreMapping'
              example:
                count: 2
                results:
                  - id: "uuid1"
                    store:
                      id: "060d0e05-ffdc-446e-b844-d22cd6bced04"
                      name: "Counter 1"
                      form: "ro"
                    eaushadhi_store_id: "99901002"
                    eaushadhi_store_name: "CHC Pharmacy"
                    is_default: true
                    created_date: "2026-05-19 19:29:35.868682+05:30"
                  - id: "uuid2"
                    store:
                      id: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
                      name: "Counter 2"
                      form: "ro"
                    eaushadhi_store_id: "99901003"
                    eaushadhi_store_name: "OPD Pharmacy"
                    is_default: false
                    created_date: "2026-05-19 19:29:35.868682+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /facility/{facility_external_id}/institute/{institute_id}/stores/{store_mapping_id}/:
    delete:
      tags:
        - Store Mappings
      summary: Remove store mapping
      description: Soft-delete a store mapping
      operationId: deleteStoreMapping
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: store_mapping_id
          in: path
          required: true
          description: Store mapping UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Store mapping deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: "Store mapping deleted successfully"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- DVDMS Lookups ----------
  /institute/{institute_id}/lookup/warehouses/:
    get:
      tags:
        - DVDMS Lookups
      summary: Lookup warehouses from DVDMS
      description: |
        Fetch the list of available warehouses directly from the DVDMS system
        for this institute.
        Uses the institute's credentials to query DVDMS API.
      operationId: getDvdmsWarehouses
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of DVDMS warehouses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DvdmsWarehouse'
              example:
                - id: 99901062
                  name: "Chas_Chc"
                - id: 99901000
                  name: "JMHIDPCL"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Bad Gateway - Error communicating with DVDMS system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Failed to fetch warehouses from DVDMS"
                code: "DVDMS_API_ERROR"

  /institute/{institute_id}/lookup/stores/:
    get:
      tags:
        - DVDMS Lookups
      summary: Lookup stores from DVDMS
      description: |
        Fetch the list of available stores directly from the DVDMS system
        for this institute.
        Requires a fromStoreid query parameter to specify the source warehouse.
        Uses the institute's credentials to query DVDMS API.
      operationId: getDvdmsStores
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: fromStoreid
          in: query
          required: true
          description: DVDMS warehouse/from_store ID to fetch stores for
          schema:
            type: string
          example: "99901000"
      responses:
        '200':
          description: List of DVDMS stores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DvdmsStore'
              example:
                - id: 99901062
                  name: "Chas_Chc"
                - id: 99901000
                  name: "JMHIDPCL"
        '400':
          description: Bad Request - fromStoreid is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "fromStoreid query parameter is required"
                code: "MISSING_PARAMETER"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Bad Gateway - Error communicating with DVDMS system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Failed to fetch stores from DVDMS"
                code: "DVDMS_API_ERROR"

  /institute/{institute_id}/lookup/drugs/:
    get:
      tags:
        - DVDMS Lookups
      summary: Lookup drugs from DVDMS
      description: |
        Fetch the list of available drugs/items directly from the DVDMS system
        for this institute.
        Supports filtering by group ID, subgroup ID, item category number, and item name.
        Uses the institute's credentials to query DVDMS API.
      operationId: getDvdmsDrugs
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: hstnum_group_id
          in: query
          required: false
          description: Filter by group ID
          schema:
            type: integer
          example: 101047
        - name: hstnum_subgroup_id
          in: query
          required: false
          description: Filter by subgroup ID
          schema:
            type: integer
          example: 0
        - name: sstnum_item_cat_no
          in: query
          required: false
          description: Filter by item category number
          schema:
            type: string
          example: "10"
        - name: hststr_item_name
          in: query
          required: false
          description: Filter by item name (partial match/search)
          schema:
            type: string
          example: "abc 500mg"
      responses:
        '200':
          description: List of DVDMS drugs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DvdmsDrug'
              example:
                - hstnum_item_id: 10002270
                  gnum_hospital_code: 998
                  hstnum_group_id: 101047
                  hstnum_subgroup_id: 0
                  sstnum_item_cat_no: "10"
                  hststr_item_name: "abc 500mg tablet(500mg ),Tablet"
                  hstnum_batchno_req: 1
                  hstnum_expirydate_req: 1
                  gnum_inventory_unitid: 630001
                  gdt_effective_frm: "Feb 11, 2025 12:00:00 AM"
                  gnum_lstmod_seatid: 0
                  gdt_entry_date: "Feb 11, 2025 11:31:54 AM"
                  gnum_seatid: 14462
                  gnum_isvalid: 1
                  hststr_cpa_code: "0"
                  hstnum_itembrand_id: 10103406
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Bad Gateway - Error communicating with DVDMS system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Failed to fetch drugs from DVDMS"
                code: "DVDMS_API_ERROR"

  /institute/{institute_id}/lookup/groups/:
    get:
      tags:
        - DVDMS Lookups
      summary: Lookup groups from DVDMS
      description: |
        Fetch the list of available drug groups directly from the DVDMS system
        for this institute.
        Uses the institute's credentials to query DVDMS API.
      operationId: getDvdmsGroups
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of DVDMS drug groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DvdmsGroup'
              example:
                - gnumHospitalCode: 998
                  hstnumGroupId: 101038
                  hststrGroupName: "Anticonvulsants/Antiepileptics"
                  gstrRemarks: "As per GOI EDL 2011"
                  gdtEffectiveFrm: "Apr 1, 2011 12:00:00 AM"
                  gdtEntryDate: "Apr 12, 2017 10:45:40 AM"
                  gnumSeatid: 10001
                  gnumIsvalid: 1
                  sstnumItemCatNo: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Bad Gateway - Error communicating with DVDMS system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Failed to fetch groups from DVDMS"
                code: "DVDMS_API_ERROR"

  /institute/{institute_id}/lookup/subgroups/:
    get:
      tags:
        - DVDMS Lookups
      summary: Lookup subgroups from DVDMS
      description: |
        Fetch the list of available drug subgroups directly from the DVDMS system
        for this institute.
        Optionally filter by group ID to get subgroups for a specific group.
        Uses the institute's credentials to query DVDMS API.
      operationId: getDvdmsSubgroups
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: groupid
          in: query
          required: false
          description: Filter subgroups by parent group ID
          schema:
            type: integer
          example: 101011
      responses:
        '200':
          description: List of DVDMS drug subgroups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DvdmsSubgroup'
              example:
                - gnumHospitalCode: 998
                  hstnumSubgroupId: 101075
                  hstnumGroupId: 101011
                  hststrSubgroupName: "Anti Fungal Medicines"
                  gdtEffectiveFrm: "Apr 1, 2011 12:00:00 AM"
                  gstrRemarks: "As per GOI EDL 2011"
                  gdtEntryDate: "Apr 12, 2017 11:10:21 AM"
                  gnumSeatid: 10001
                  gnumIsvalid: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Bad Gateway - Error communicating with DVDMS system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Failed to fetch subgroups from DVDMS"
                code: "DVDMS_API_ERROR"

  /institute/{institute_id}/lookup/units/:
    get:
      tags:
        - DVDMS Lookups
      summary: Lookup units from DVDMS
      description: |
        Fetch the list of available inventory units directly from the DVDMS system
        for this institute.
        Uses the institute's credentials to query DVDMS API.
      operationId: getDvdmsUnits
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of DVDMS inventory units
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DvdmsUnit'
              example:
                - gnumUnitId: 630005
                  gstrUnitName: "ML"
                  gnumModuleId: 63
                  gnumBaseunitId: 0
                  gdtEffectiveFrm: "Jan 1, 0001"
                  gnumLstmodSeatid: 0
                  gdtEntryDate: "Jan 3, 0001"
                  gnumSeatid: 10001
                  gnumIsvalid: 1
                  gnumUnitLevel: 3
                  gnumHospitalCode: 998
                  gnumDecimalAllowed: 0
                  gnumBaseUnitvalue: 1.0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Bad Gateway - Error communicating with DVDMS system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Failed to fetch units from DVDMS"
                code: "DVDMS_API_ERROR"

  # ---------- Record Orders ----------
  /facility/{facility_id}/destination/{destination_id}/record-orders/:
    post:
      tags:
        - Record Orders
      summary: Create a record order
      description: |
        Create a new record order (indent/requisition) for DVDMS integration.
        This represents an order that will be synced to DVDMS.
      operationId: createRecordOrder
      parameters:
        - name: facility_id
          in: path
          required: true
          description: Facility UUID
          schema:
            type: string
            format: uuid
        - name: destination_id
          in: path
          required: true
          description: Destination facility UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordOrderCreate'
            example:
              name: "eaushadhi"
              institute: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
              order: "61808cc9-4c50-4eda-9803-0e914b23f342"
              institute_store: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
              institute_supplier: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
              status: "draft"
      responses:
        '201':
          description: Record order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordOrder'
              example:
                id: "uuid1"
                name: "eaushadhi"
                institute:
                  id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  eaushadhi_institute_id: "000931"
                  eaushadhi_user_ref_id: "14462"
                  eaushadhi_institute_name: "Ranchi DH"
                order:
                  id: "4df37546-7b7b-4e5b-b135-9179838a6962"
                  name: "eaushadhi"
                  category: "central"
                  intent: "order"
                  priority: "routine"
                  reason: "patient_care"
                  status: "draft"
                  note: ""
                  tags: []
                  origin: null
                  destination:
                    id: "4b16b242-984d-4702-8ffb-b68b27f5f310"
                    status: "active"
                    operational_status: "U"
                  supplier:
                    id: "67be622b-6661-4968-94de-e29f74504dcf"
                    active: true
                    org_type: "product_supplier"
                  created_by:
                    id: "f67a7b88-b91f-4056-9ee9-871591ea1dcb"
                    username: "admin"
                    first_name: ""
                    last_name: ""
                    email: "admin@example.com"
                  updated_by: null
                  created_date: "2026-08-11T10:05:48.155327Z"
                  modified_date: "2026-08-11T10:05:48.155343Z"
                institute_store:
                  id: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
                  eaushadhi_store_id: "99901002"
                  eaushadhi_store_name: "CHC Pharmacy"
                  store:
                    id: "060d0e05-ffdc-446e-b844-d22cd6bced04"
                    name: "Counter 1"
                    form: "ro"
                institute_supplier:
                  id: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
                  eaushadhi_warehouse_id: "99901000"
                  eaushadhi_warehouse_name: "Bokaro_DWH"
                  supplier:
                    id: "5aa85d4e-3456-41fb-aee2-8076f07cb91b"
                    name: "Medplus"
                    org_type: "product_supplier"
                status: "draft"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Facility or institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Record Orders
      summary: List record orders
      description: |
        Retrieve a paginated list of record orders for a facility and destination.
      operationId: listRecordOrders
      parameters:
        - name: facility_id
          in: path
          required: true
          description: Facility UUID
          schema:
            type: string
            format: uuid
        - name: destination_id
          in: path
          required: true
          description: Destination facility UUID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: Number of results to return per page
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          required: false
          description: The initial index from which to return the results
          schema:
            type: integer
            default: 0
        - name: order
          in: query
          required: false
          description: Filter by order UUID
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: Filter by status
          schema:
            type: string
            enum: [draft, pending, approved, rejected, completed]
        - name: ordering
          in: query
          required: false
          description: "Order by field (e.g., -created_date, name). Prefix with '-' for descending order."
          schema:
            type: string
            example: "-created_date"
      responses:
        '200':
          description: Record orders retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - count
                  - results
                properties:
                  count:
                    type: integer
                    description: Total number of record orders
                    example: 1
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecordOrder'
              example:
                count: 1
                results:
                  - id: "uuid1"
                    name: "eaushadhi"
                    institute:
                      id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      eaushadhi_institute_id: "000931"
                      eaushadhi_user_ref_id: "14462"
                      eaushadhi_institute_name: "Ranchi DH"
                    order:
                      id: "4df37546-7b7b-4e5b-b135-9179838a6962"
                      name: "eaushadhi"
                      category: "central"
                      intent: "order"
                      priority: "routine"
                      reason: "patient_care"
                      status: "draft"
                    institute_store:
                      id: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
                      eaushadhi_store_id: "99901002"
                      eaushadhi_store_name: "CHC Pharmacy"
                      store:
                        id: "060d0e05-ffdc-446e-b844-d22cd6bced04"
                        name: "Counter 1"
                        form: "ro"
                    institute_supplier:
                      id: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
                      eaushadhi_warehouse_id: "99901000"
                      eaushadhi_warehouse_name: "Bokaro_DWH"
                      supplier:
                        id: "5aa85d4e-3456-41fb-aee2-8076f07cb91b"
                        name: "Medplus"
                        org_type: "product_supplier"
                    status: "draft"
                    created_by:
                      id: "uuid"
                      username: "admin"
                      first_name: "Admin"
                      last_name: "User"
                      email: "admin@example.com"
                    updated_by: null
                    created_date: "2026-05-19 19:29:35.868682+05:30"
                    modified_date: "2026-05-19 19:29:35.868682+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Facility or destination not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /facility/{facility_id}/destination/{destination_id}/record-orders/{record_order_id}/:
    patch:
      tags:
        - Record Orders
      summary: Update record order
      description: |
        Update record order fields like status. All fields are optional.
      operationId: updateRecordOrder
      parameters:
        - name: facility_id
          in: path
          required: true
          description: Facility UUID
          schema:
            type: string
            format: uuid
        - name: destination_id
          in: path
          required: true
          description: Destination facility UUID
          schema:
            type: string
            format: uuid
        - name: record_order_id
          in: path
          required: true
          description: Record Order UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [draft, pending, approved, rejected, completed]
                  description: Update order status
                  example: "approved"
            example:
              status: "approved"
      responses:
        '200':
          description: Record order updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordOrder'
              example:
                id: "uuid1"
                name: "eaushadhi"
                institute:
                  id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  eaushadhi_institute_id: "000931"
                  eaushadhi_user_ref_id: "14462"
                  eaushadhi_institute_name: "Ranchi DH"
                order:
                  id: "4df37546-7b7b-4e5b-b135-9179838a6962"
                  name: "eaushadhi"
                  category: "central"
                  status: "draft"
                institute_store:
                  id: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
                  eaushadhi_store_id: "99901002"
                  eaushadhi_store_name: "CHC Pharmacy"
                  store:
                    id: "060d0e05-ffdc-446e-b844-d22cd6bced04"
                    name: "Counter 1"
                    form: "ro"
                institute_supplier:
                  id: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
                  eaushadhi_warehouse_id: "99901000"
                  eaushadhi_warehouse_name: "Bokaro_DWH"
                  supplier:
                    id: "5aa85d4e-3456-41fb-aee2-8076f07cb91b"
                    name: "Medplus"
                    org_type: "product_supplier"
                status: "approved"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by:
                  id: "uuid2"
                  username: "manager"
                  first_name: "Manager"
                  last_name: "User"
                  email: "manager@example.com"
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:35:00.000000+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- DVDMS Outwards Record ----------
  /record-orders/{record_order_id}/outwards-record/:
    get:
      tags:
        - DVDMS Outwards Record
      summary: Get DVDMS outwards record for a record order
      description: |
        Retrieve the outwards record with sync status and details for a specific record order.
      operationId: getOutwardsRecord
      parameters:
        - name: record_order_id
          in: path
          required: true
          description: Record Order UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Outwards record retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvdmsOutwardsRecord'
              example:
                id: "outwards-uuid-1"
                record_order: "uuid1"
                eaushadhi_indent_no: "IND-2026-001234"
                status: "created"
                eaushadhi_indent_status: "partially_issued"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-21 09:05:00.000000+05:30"
                sync_log_id: "sync-log-123"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /record-orders/{record_order_id}/outwards-record/fetch-inwards/:
    post:
      tags:
        - DVDMS Outwards Record
      summary: Fetch inwards/issues from DVDMS
      description: |
        Trigger fetching of inward/issue status from DVDMS API for a specific record order.
        This endpoint calls the external DVDMS API to check for issues and their statuses,
        and updates the outwards record with the latest issue information.
      operationId: fetchInwards
      parameters:
        - name: record_order_id
          in: path
          required: true
          description: Record Order UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Inwards/issues fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvdmsOutwardsRecord'
              example:
                id: "outwards-uuid-1"
                record_order: "uuid1"
                eaushadhi_indent_no: "IND-2026-001234"
                status: "created"
                eaushadhi_indent_status: "partially_issued"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-21 09:05:00.000000+05:30"
                sync_log_id: "sync-log-123"
        '400':
          description: Bad request (e.g., outwards record not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Cannot fetch inwards: outwards record not found"
                code: "OUTWARDS_RECORD_NOT_FOUND"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record order or outwards record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /record-orders/{record_order_id}/inwards-records/:
    get:
      tags:
        - DVDMS Inwards Record
      summary: Get inwards records for an outwards record
      description: |
        Retrieve paginated list of inwards/issue records associated with an outwards record.
        These represent the issues created in DVDMS for the indent.
      operationId: getInwardsRecords
      parameters:
        - name: record_order_id
          in: path
          required: true
          description: Record Order UUID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Number of results to return per page
          schema:
            type: integer
            default: 10
            example: 10
        - name: offset
          in: query
          description: Number of results to skip
          schema:
            type: integer
            default: 0
            example: 0
      responses:
        '200':
          description: Inwards records retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - count
                  - results
                properties:
                  count:
                    type: integer
                    description: Total number of inwards records
                    example: 2
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/DvdmsInwardsRecord'
              example:
                count: 2
                results:
                  - id: "issue-uuid-1"
                    eaushadhi_issue_no: "ISS-2026-005678"
                    created_at: "2026-05-20 10:30:00.000000+05:30"
                    eaushadhi_issue_status: "received"
                    outward_record: "outwards-uuid-1"
                    eaushadhi_indent_no: "IND-2026-001234"
                    sync_log_id: "sync-log-456"
                  - id: "issue-uuid-2"
                    eaushadhi_issue_no: "ISS-2026-005679"
                    created_at: "2026-05-20 14:15:00.000000+05:30"
                    eaushadhi_issue_status: "pending"
                    outward_record: "outwards-uuid-1"
                    eaushadhi_indent_no: "IND-2026-001234"
                    sync_log_id: "sync-log-457"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- Record Item Orders ----------
  /facility/{facility_id}/destination/{destination_id}/record-item-orders/:
    post:
      tags:
        - Record Item Orders
      summary: Create a record item order
      description: |
        Create a new record item order (line item in an indent/requisition) for DVDMS integration.
        This represents an individual item in an order that will be synced to DVDMS.
      operationId: createRecordItemOrder
      parameters:
        - name: facility_id
          in: path
          required: true
          description: Facility UUID
          schema:
            type: string
            format: uuid
        - name: destination_id
          in: path
          required: true
          description: Destination facility UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordItemOrderCreate'
            example:
              record_order: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
              supply_request: "2e1cb879-8101-4160-b324-bc97e07c35f3"
              drug:
                id: "10002270"
                name: "abc 500mg tablet"
                brand_id: "10103406"
                group_id: "101047"
                sub_group_id: "0"
                unit_id: "630001"
                drug_category: "10"
      responses:
        '201':
          description: Record item order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordItemOrder'
              example:
                id: "uuid-item-order-1"
                record_order:
                  id: "uuid1"
                  name: "eaushadhi"
                  institute:
                    id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    eaushadhi_institute_id: "000931"
                    eaushadhi_user_ref_id: "14462"
                    eaushadhi_institute_name: "Ranchi DH"
                  order:
                    id: "4df37546-7b7b-4e5b-b135-9179838a6962"
                    name: "eaushadhi"
                    category: "central"
                    status: "draft"
                  institute_store:
                    id: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
                    eaushadhi_store_id: "99901002"
                    eaushadhi_store_name: "CHC Pharmacy"
                    store:
                      id: "060d0e05-ffdc-446e-b844-d22cd6bced04"
                      name: "Counter 1"
                      form: "ro"
                  institute_supplier:
                    id: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
                    eaushadhi_warehouse_id: "99901000"
                    eaushadhi_warehouse_name: "Bokaro_DWH"
                    supplier:
                      id: "5aa85d4e-3456-41fb-aee2-8076f07cb91b"
                      name: "Medplus"
                      org_type: "product_supplier"
                  status: "draft"
                  created_by:
                    id: "uuid"
                    username: "admin"
                    first_name: "Admin"
                    last_name: "User"
                    email: "admin@example.com"
                  created_date: "2026-05-19 19:29:35.868682+05:30"
                  modified_date: "2026-05-19 19:29:35.868682+05:30"
                supply_request:
                  id: "2e1cb879-8101-4160-b324-bc97e07c35f3"
                  item:
                    id: "566db5e4-0533-4d7c-8deb-15a3d58c8d53"
                    alternate_identifier: null
                    status: "active"
                  order:
                    id: "a5537270-af4e-4c27-8906-e56569f599ce"
                    status: "pending"
                    name: "Test Order flow"
                    category: "central"
                    intent: "order"
                    priority: "routine"
                    reason: "patient_care"
                  quantity: "16.000000"
                  status: "active"
                drug:
                  id: "10002270"
                  name: "abc 500mg tablet"
                  brand_id: "10103406"
                  group_id: "101047"
                  sub_group_id: "0"
                  unit_id: "630001"
                  drug_category: "10"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Facility or record order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Record Item Orders
      summary: List record item orders
      description: |
        Retrieve a paginated list of record item orders for a facility and destination.
      operationId: listRecordItemOrders
      parameters:
        - name: facility_id
          in: path
          required: true
          description: Facility UUID
          schema:
            type: string
            format: uuid
        - name: destination_id
          in: path
          required: true
          description: Destination facility UUID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: Number of results to return per page
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          required: false
          description: The initial index from which to return the results
          schema:
            type: integer
            default: 0
        - name: record_order
          in: query
          required: false
          description: Filter by record order UUID
          schema:
            type: string
            format: uuid
        - name: order
          in: query
          required: false
          description: Filter by order UUID
          schema:
            type: string
            format: uuid
        - name: ordering
          in: query
          required: false
          description: "Order by field (e.g., -created_date, name). Prefix with '-' for descending order."
          schema:
            type: string
            example: "-created_date"
      responses:
        '200':
          description: Record item orders retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - count
                  - results
                properties:
                  count:
                    type: integer
                    description: Total number of record item orders
                    example: 1
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecordItemOrder'
              example:
                count: 1
                results:
                  - id: "uuid-item-order-1"
                    record_order:
                      id: "uuid1"
                      name: "eaushadhi"
                      institute:
                        id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                        eaushadhi_institute_id: "000931"
                        eaushadhi_user_ref_id: "14462"
                        eaushadhi_institute_name: "Ranchi DH"
                      order:
                        id: "4df37546-7b7b-4e5b-b135-9179838a6962"
                        name: "eaushadhi"
                        category: "central"
                        status: "draft"
                      institute_store:
                        id: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
                        eaushadhi_store_id: "99901002"
                        eaushadhi_store_name: "CHC Pharmacy"
                        store:
                          id: "060d0e05-ffdc-446e-b844-d22cd6bced04"
                          name: "Counter 1"
                          form: "ro"
                      institute_supplier:
                        id: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
                        eaushadhi_warehouse_id: "99901000"
                        eaushadhi_warehouse_name: "Bokaro_DWH"
                        supplier:
                          id: "5aa85d4e-3456-41fb-aee2-8076f07cb91b"
                          name: "Medplus"
                          org_type: "product_supplier"
                      status: "draft"
                    supply_request:
                      id: "2e1cb879-8101-4160-b324-bc97e07c35f3"
                      item:
                        id: "566db5e4-0533-4d7c-8deb-15a3d58c8d53"
                        alternate_identifier: null
                        status: "active"
                      order:
                        id: "a5537270-af4e-4c27-8906-e56569f599ce"
                        status: "pending"
                        name: "Test Order flow"
                        category: "central"
                        intent: "order"
                        priority: "routine"
                        reason: "patient_care"
                      quantity: "16.000000"
                      status: "active"
                    drug:
                      id: "10002270"
                      name: "abc 500mg tablet"
                      brand_id: "10103406"
                      group_id: "101047"
                      sub_group_id: "0"
                      unit_id: "630001"
                      drug_category: "10"
                    institute_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    created_by:
                      id: "uuid"
                      username: "admin"
                      first_name: "Admin"
                      last_name: "User"
                      email: "admin@example.com"
                    updated_by: null
                    created_date: "2026-05-19 19:29:35.868682+05:30"
                    modified_date: "2026-05-19 19:29:35.868682+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Facility or destination not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /facility/{facility_id}/destination/{destination_id}/record-item-orders/{record_item_order_id}/:
    patch:
      tags:
        - Record Item Orders
      summary: Update record item order
      description: |
        Update record item order fields including drug information. All fields are optional.
      operationId: updateRecordItemOrder
      parameters:
        - name: facility_id
          in: path
          required: true
          description: Facility UUID
          schema:
            type: string
            format: uuid
        - name: destination_id
          in: path
          required: true
          description: Destination facility UUID
          schema:
            type: string
            format: uuid
        - name: record_item_order_id
          in: path
          required: true
          description: Record Item Order UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                drug:
                  $ref: '#/components/schemas/DrugInfo'
                  description: Update drug information
            example:
              drug:
                id: "10002270"
                name: "abc 500mg tablet - updated"
                brand_id: "10103406"
                group_id: "101047"
                sub_group_id: "0"
                unit_id: "630001"
                drug_category: "10"
      responses:
        '200':
          description: Record item order updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordItemOrder'
              example:
                id: "uuid-item-order-1"
                record_order:
                  id: "uuid1"
                  name: "eaushadhi"
                  institute:
                    id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    eaushadhi_institute_id: "000931"
                    eaushadhi_user_ref_id: "14462"
                    eaushadhi_institute_name: "Ranchi DH"
                  status: "draft"
                supply_request:
                  id: "2e1cb879-8101-4160-b324-bc97e07c35f3"
                  item:
                    id: "566db5e4-0533-4d7c-8deb-15a3d58c8d53"
                    alternate_identifier: null
                    status: "active"
                  order:
                    id: "a5537270-af4e-4c27-8906-e56569f599ce"
                    status: "pending"
                    name: "Test Order flow"
                  quantity: "16.000000"
                  status: "active"
                drug:
                  id: "10002270"
                  name: "abc 500mg tablet - updated"
                  brand_id: "10103406"
                  group_id: "101047"
                  sub_group_id: "0"
                  unit_id: "630001"
                  drug_category: "10"
                institute_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by:
                  id: "uuid2"
                  username: "pharmacist"
                  first_name: "Pharmacist"
                  last_name: "User"
                  email: "pharmacist@example.com"
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:40:00.000000+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record item order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication

  schemas:
    # Shared user object used in created_by / updated_by fields
    UserSummary:
      type: object
      required:
        - id
        - username
        - first_name
        - last_name
        - email
      properties:
        id:
          type: string
          format: uuid
          example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        username:
          type: string
          example: "admin"
        first_name:
          type: string
          example: "Admin"
        last_name:
          type: string
          example: "User"
        email:
          type: string
          format: email
          example: "admin@example.com"

    # Shared supplier object used in supplier mappings
    SupplierSummary:
      type: object
      required:
        - id
        - name
        - org_type
      properties:
        id:
          type: string
          format: uuid
          example: "5aa85d4e-3456-41fb-aee2-8076f07cb91b"
        name:
          type: string
          example: "Medplus"
        org_type:
          type: string
          example: "product_supplier"

    # Shared store object used in store mappings
    StoreSummary:
      type: object
      required:
        - id
        - name
        - form
      properties:
        id:
          type: string
          format: uuid
          example: "060d0e05-ffdc-446e-b844-d22cd6bced04"
        name:
          type: string
          example: "Counter 1"
        form:
          type: string
          example: "ro"

    # Shared institute object used in record orders
    InstituteSummary:
      type: object
      required:
        - id
        - eaushadhi_institute_id
        - eaushadhi_institute_name
        - eaushadhi_user_ref_id
      properties:
        id:
          type: string
          format: uuid
          example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        eaushadhi_institute_id:
          type: string
          example: "000931"
        eaushadhi_institute_name:
          type: string
          example: "CHC Bokaro"
        eaushadhi_user_ref_id:
          type: string
          example: "14462"

    # Shared institute supplier mapping object used in record orders
    InstituteSupplierSummary:
      type: object
      required:
        - id
        - eaushadhi_warehouse_id
        - eaushadhi_warehouse_name
        - supplier
      properties:
        id:
          type: string
          format: uuid
          description: Supplier mapping external_id
          example: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
        eaushadhi_warehouse_id:
          type: string
          description: DVDMS warehouse/from_store ID
          example: "99901000"
        eaushadhi_warehouse_name:
          type: string
          description: DVDMS warehouse name
          example: "Bokaro_DWH"
        supplier:
          $ref: '#/components/schemas/SupplierSummary'
          description: CARE supplier details

    # Shared institute store mapping object used in record orders
    InstituteStoreSummary:
      type: object
      required:
        - id
        - eaushadhi_store_id
        - eaushadhi_store_name
        - store
      properties:
        id:
          type: string
          format: uuid
          description: Store mapping external_id
          example: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
        eaushadhi_store_id:
          type: string
          description: DVDMS store/to_store ID
          example: "99901002"
        eaushadhi_store_name:
          type: string
          description: DVDMS store name
          example: "CHC Pharmacy"
        store:
          $ref: '#/components/schemas/StoreSummary'
          description: CARE store details

    # Shared order object used in record orders
    OrderSummary:
      type: object
      required:
        - id
        - name
        - category
        - intent
        - priority
        - reason
        - status
        - created_date
        - modified_date
      properties:
        id:
          type: string
          format: uuid
          example: "4df37546-7b7b-4e5b-b135-9179838a6962"
        name:
          type: string
          example: "eaushadhi"
        category:
          type: string
          example: "central"
        intent:
          type: string
          example: "order"
        priority:
          type: string
          example: "routine"
        reason:
          type: string
          example: "patient_care"
        status:
          type: string
          example: "draft"
        note:
          type: string
          nullable: true
          example: ""
        tags:
          type: array
          items:
            type: string
          example: []
        origin:
          type: object
          nullable: true
          description: Origin facility details
          example: null
        destination:
          type: object
          description: Destination facility details
          properties:
            id:
              type: string
              format: uuid
              example: "4b16b242-984d-4702-8ffb-b68b27f5f310"
            status:
              type: string
              example: "active"
            operational_status:
              type: string
              example: "U"
        supplier:
          type: object
          description: Supplier details
          properties:
            id:
              type: string
              format: uuid
              example: "67be622b-6661-4968-94de-e29f74504dcf"
            active:
              type: boolean
              example: true
            org_type:
              type: string
              example: "product_supplier"
        created_by:
          $ref: '#/components/schemas/UserSummary'
        updated_by:
          allOf:
            - $ref: '#/components/schemas/UserSummary'
          nullable: true
        created_date:
          type: string
          format: date-time
          example: "2026-08-11T10:05:48.155327Z"
        modified_date:
          type: string
          format: date-time
          example: "2026-08-11T10:05:48.155343Z"

    # Institute Create Schema
    InstituteCreate:
      type: object
      required:
        - eaushadhi_institute_id
        - eaushadhi_institute_name
        - eaushadhi_user_ref_id
        - schema_version
      properties:
        eaushadhi_institute_id:
          type: string
          description: DVDMS/eAushadhi institute ID
          example: "000931"
        eaushadhi_institute_name:
          type: string
          description: DVDMS/eAushadhi institute name
          example: "CHC Bokaro"
        eaushadhi_user_ref_id:
          type: string
          description: |
            DVDMS/eAushadhi user reference ID (seat ID).
            This is the user ID used for authentication with the DVDMS API.
          example: "14462"
        schema_version:
          type: string
          description: Which API schema version applies to this facility's responses
          example: "1.0"
        meta:
          type: object
          nullable: true
          description: Arbitrary metadata (optional)
          example:
            setup_notes: "Configured during Phase 1"
            contact_person: "Dr. Kumar"

    # Institute Update Schema
    InstituteUpdate:
      type: object
      description: |
        All fields optional; only supplied fields are updated.
        facility_external_id and eaushadhi_institute_id cannot be changed (use delete + create instead).
      properties:
        eaushadhi_institute_name:
          type: string
          description: Update the institute name
          example: "CHC Bokaro Updated"
        eaushadhi_user_ref_id:
          type: string
          description: Update the user reference ID
          example: "14463"
        schema_version:
          type: string
          description: Update the schema version
          example: "2.0"
        meta:
          type: object
          nullable: true
          description: Update metadata
          example:
            last_sync: "2026-05-20T10:30:00Z"
            notes: "Updated after migration"

    # Institute Full Schema (Response)
    Institute:
      type: object
      required:
        - id
        - facility_id
        - eaushadhi_institute_id
        - eaushadhi_institute_name
        - eaushadhi_user_ref_id
        - schema_version
        - created_by
        - created_date
        - modified_date
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: External ID (primary key exposed via API)
          example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        facility_id:
          type: string
          format: uuid
          readOnly: true
          description: CARE facility external_id reference
          example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        eaushadhi_institute_id:
          type: string
          description: DVDMS/eAushadhi institute ID
          example: "000931"
        eaushadhi_institute_name:
          type: string
          description: DVDMS/eAushadhi institute name
          example: "CHC Bokaro"
        eaushadhi_user_ref_id:
          type: string
          description: DVDMS/eAushadhi user reference ID (seat ID)
          example: "14462"
        schema_version:
          type: string
          description: API schema version
          example: "1.0"
        meta:
          type: object
          nullable: true
          description: Arbitrary metadata
          example: null
        created_by:
          allOf:
            - $ref: '#/components/schemas/UserSummary'
          readOnly: true
          description: User who created this mapping
        updated_by:
          allOf:
            - $ref: '#/components/schemas/UserSummary'
          nullable: true
          readOnly: true
          description: User who last updated this mapping (null if never updated)
        created_date:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when created
          example: "2026-05-19 19:29:35.868682+05:30"
        modified_date:
          type: string
          format: date-time
          readOnly: true
          description: Timestamp when last modified
          example: "2026-05-19 19:29:35.868682+05:30"

    # ===================== Supplier Mapping =====================
    SupplierMappingCreate:
      type: object
      required:
        - supplier
        - eaushadhi_warehouse_id
        - eaushadhi_warehouse_name
      properties:
        supplier:
          type: string
          format: uuid
          description: CARE supplier external_id (FK to organization with org_type='product_supplier')
          example: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
        eaushadhi_warehouse_id:
          type: string
          description: DVDMS warehouse/from_store ID
          example: "99901000"
        eaushadhi_warehouse_name:
          type: string
          description: DVDMS warehouse name (for matching inwards)
          example: "Bokaro_DWH"
        is_default:
          type: boolean
          default: false
          description: |
            Mark this supplier as default for unmapped warehouses.
            At most one supplier per institute can be default.
          example: true

    SupplierMapping:
      allOf:
        - $ref: '#/components/schemas/SupplierMappingCreate'
        - type: object
          required:
            - id
            - institute_id
            - created_by
            - created_date
            - modified_date
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
              description: Supplier mapping external_id (PK)
              example: "uuid"
            supplier:
              allOf:
                - $ref: '#/components/schemas/SupplierSummary'
              readOnly: true
              description: Supplier details (expanded in response)
            institute_id:
              type: string
              format: uuid
              readOnly: true
              description: FK to institute
              example: "uuid"
            created_by:
              allOf:
                - $ref: '#/components/schemas/UserSummary'
              readOnly: true
            updated_by:
              allOf:
                - $ref: '#/components/schemas/UserSummary'
              nullable: true
              readOnly: true
            created_date:
              type: string
              format: date-time
              readOnly: true
              example: "2026-05-19 19:29:35.868682+05:30"
            modified_date:
              type: string
              format: date-time
              readOnly: true
              example: "2026-05-19 19:29:35.868682+05:30"

    # ===================== Store Mapping =====================
    StoreMappingCreate:
      type: object
      required:
        - store
        - eaushadhi_store_id
        - eaushadhi_store_name
      properties:
        store:
          type: string
          format: uuid
          description: CARE store external_id
          example: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
        eaushadhi_store_id:
          type: string
          description: DVDMS store/to_store ID
          example: "99901002"
        eaushadhi_store_name:
          type: string
          description: DVDMS store name (for display)
          example: "CHC Pharmacy"
        is_default:
          type: boolean
          default: false
          description: |
            Mark this store as default for indent/issue operations.
            At most one store per institute can be default.
          example: true

    StoreMapping:
      allOf:
        - $ref: '#/components/schemas/StoreMappingCreate'
        - type: object
          required:
            - id
            - institute_id
            - created_by
            - created_date
            - modified_date
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
              description: Store mapping external_id (PK)
              example: "uuid"
            store:
              allOf:
                - $ref: '#/components/schemas/StoreSummary'
              readOnly: true
              description: Store details (expanded in response)
            institute_id:
              type: string
              format: uuid
              readOnly: true
              description: FK to institute
              example: "uuid"
            created_by:
              allOf:
                - $ref: '#/components/schemas/UserSummary'
              readOnly: true
            updated_by:
              allOf:
                - $ref: '#/components/schemas/UserSummary'
              nullable: true
              readOnly: true
            created_date:
              type: string
              format: date-time
              readOnly: true
              example: "2026-05-19 19:29:35.868682+05:30"
            modified_date:
              type: string
              format: date-time
              readOnly: true
              example: "2026-05-19 19:29:35.868682+05:30"

    # ===================== DVDMS Lookup Schemas =====================
    DvdmsWarehouse:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          description: DVDMS warehouse ID
          example: 99901062
        name:
          type: string
          description: DVDMS warehouse name
          example: "Chas_Chc"

    DvdmsStore:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          description: DVDMS store ID
          example: 99901062
        name:
          type: string
          description: DVDMS store name
          example: "Chas_Chc"

    DvdmsDrug:
      type: object
      required:
        - hstnum_item_id
        - hststr_item_name
      properties:
        hstnum_item_id:
          type: integer
          description: DVDMS item ID
          example: 10002270
        gnum_hospital_code:
          type: integer
          description: Hospital code
          example: 998
        hstnum_group_id:
          type: integer
          description: Group ID
          example: 101047
        hstnum_subgroup_id:
          type: integer
          description: Subgroup ID
          example: 0
        sstnum_item_cat_no:
          type: string
          description: Item category number
          example: "10"
        hststr_item_name:
          type: string
          description: Item name
          example: "abc 500mg tablet(500mg ),Tablet"
        hstnum_batchno_req:
          type: integer
          description: Batch number required flag (1=yes, 0=no)
          example: 1
        hstnum_expirydate_req:
          type: integer
          description: Expiry date required flag (1=yes, 0=no)
          example: 1
        gnum_inventory_unitid:
          type: integer
          description: Inventory unit ID
          example: 630001
        gdt_effective_frm:
          type: string
          description: Effective from date
          example: "Feb 11, 2025 12:00:00 AM"
        gnum_lstmod_seatid:
          type: integer
          description: Last modified seat ID
          example: 0
        gdt_entry_date:
          type: string
          description: Entry date
          example: "Feb 11, 2025 11:31:54 AM"
        gnum_seatid:
          type: integer
          description: Seat ID
          example: 14462
        gnum_isvalid:
          type: integer
          description: Is valid flag (1=valid, 0=invalid)
          example: 1
        hststr_cpa_code:
          type: string
          description: CPA code
          example: "0"
        hstnum_itembrand_id:
          type: integer
          description: Item brand ID
          example: 10103406

    DvdmsUnit:
      type: object
      required:
        - gnumUnitId
        - gstrUnitName
      properties:
        gnumUnitId:
          type: integer
          description: Unit ID
          example: 630005
        gstrUnitName:
          description: Unit name
          example: "ML"
        gnumModuleId:
          type: integer
          description: Module ID
          example: 63
        gnumBaseunitId:
          type: integer
          description: Base unit ID (0 if this is the base unit)
          example: 0
        gdtEffectiveFrm:
          description: Effective from date
          example: "Jan 1, 0001"
        gnumLstmodSeatid:
          type: integer
          description: Last modified seat ID
          example: 0
        gdtEntryDate:
          description: Entry date
          example: "Jan 3, 0001"
        gnumSeatid:
          type: integer
          description: Seat ID
          example: 10001
        gnumIsvalid:
          type: integer
          description: Is valid flag (1=valid, 0=invalid)
          example: 1
        gnumUnitLevel:
          type: integer
          description: Unit level
          example: 3
        gnumHospitalCode:
          type: integer
          description: Hospital code
          example: 998
        gnumDecimalAllowed:
          type: integer
          description: Decimal allowed flag (1=yes, 0=no)
          example: 0
        gnumBaseUnitvalue:
          type: number
          format: float
          description: Base unit value for conversion
          example: 1.0
    DvdmsGroup:
      type: object
      required:
        - hstnumGroupId
        - hststrGroupName
      properties:
        gnumHospitalCode:
          type: integer
          description: Hospital code
          example: 998
        hstnumGroupId:
          type: integer
          description: Group ID
          example: 101038
        hststrGroupName:
          type: string
          description: Group name
          example: "Anticonvulsants/Antiepileptics"
        gstrRemarks:
          type: string
          description: Remarks
          example: "As per GOI EDL 2011"
        gdtEffectiveFrm:
          type: string
          description: Effective from date
          example: "Apr 1, 2011 12:00:00 AM"
        gdtEntryDate:
          type: string
          description: Entry date
          example: "Apr 12, 2017 10:45:40 AM"
        gnumSeatid:
          type: integer
          description: Seat ID
          example: 10001
        gnumIsvalid:
          type: integer
          description: Is valid flag (1=valid, 0=invalid)
          example: 1
        sstnumItemCatNo:
          type: integer
          description: Item category number
          example: 10

    DvdmsSubgroup:
      type: object
      required:
        - hstnumSubgroupId
        - hstnumGroupId
        - hststrSubgroupName
      properties:
        gnumHospitalCode:
          type: integer
          description: Hospital code
          example: 998
        hstnumSubgroupId:
          type: integer
          description: Subgroup ID
          example: 101075
        hstnumGroupId:
          type: integer
          description: Parent group ID
          example: 101011
        hststrSubgroupName:
          type: string
          description: Subgroup name
          example: "Anti Fungal Medicines"
        gdtEffectiveFrm:
          type: string
          description: Effective from date
          example: "Apr 1, 2011 12:00:00 AM"
        gstrRemarks:
          type: string
          description: Remarks
          example: "As per GOI EDL 2011"
        gdtEntryDate:
          type: string
          description: Entry date
          example: "Apr 12, 2017 11:10:21 AM"
        gnumSeatid:
          type: integer
          description: Seat ID
          example: 10001
        gnumIsvalid:
          type: integer
          description: Is valid flag (1=valid, 0=invalid)
          example: 1

    # ===================== Record Order Schemas =====================
    RecordOrderCreate:
      type: object
      required:
        - name
        - institute
        - order
        - institute_store
        - institute_supplier
        - status
      properties:
        name:
          type: string
          description: Record order name
          example: "eaushadhi"
        institute:
          type: string
          format: uuid
          description: Institute UUID
          example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        order:
          type: string
          format: uuid
          description: Reference to CARE order external_id
          example: "61808cc9-4c50-4eda-9803-0e914b23f342"
        institute_store:
          type: string
          format: uuid
          description: Institute store mapping UUID
          example: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
        institute_supplier:
          type: string
          format: uuid
          description: Institute supplier mapping UUID
          example: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
        status:
          type: string
          enum: [draft, pending, approved, rejected, completed]
          description: Order status
          example: "draft"

    RecordOrder:
      allOf:
        - $ref: '#/components/schemas/RecordOrderCreate'
        - type: object
          required:
            - id
            - created_by
            - created_date
            - modified_date
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
              description: Record order external_id
              example: "uuid"
            institute:
              allOf:
                - $ref: '#/components/schemas/InstituteSummary'
              readOnly: true
              description: Institute details (expanded in response)
            order:
              allOf:
                - $ref: '#/components/schemas/OrderSummary'
              readOnly: true
              description: Order details (expanded in response)
            institute_store:
              allOf:
                - $ref: '#/components/schemas/InstituteStoreSummary'
              readOnly: true
              description: Institute store mapping details (expanded in response)
            institute_supplier:
              allOf:
                - $ref: '#/components/schemas/InstituteSupplierSummary'
              readOnly: true
              description: Institute supplier mapping details (expanded in response)
            created_by:
              allOf:
                - $ref: '#/components/schemas/UserSummary'
              readOnly: true
            updated_by:
              allOf:
                - $ref: '#/components/schemas/UserSummary'
              nullable: true
              readOnly: true
            created_date:
              type: string
              format: date-time
              readOnly: true
              example: "2026-05-19 19:29:35.868682+05:30"
            modified_date:
              type: string
              format: date-time
              readOnly: true
              example: "2026-05-19 19:29:35.868682+05:30"

    # ===================== DVDMS Outwards Record Schemas =====================
    DvdmsOutwardsRecord:
      type: object
      required:
        - id
        - record_order
        - status
        - created_date
        - modified_date
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: Outwards record external_id
          example: "outwards-uuid-1"
        record_order:
          type: string
          format: uuid
          description: Reference to record order UUID
          example: "uuid1"
        eaushadhi_indent_no:
          type: string
          nullable: true
          description: eAushadhi/DVDMS indent number
          example: "IND-2026-001234"
        status:
          type: string
          enum: [created, submitted, cancelled]
          description: |
            Outwards record status:
            - created: Indent created in DVDMS
            - submitted: Indent submitted for processing
            - cancelled: Indent cancelled
          example: "created"
        eaushadhi_indent_status:
          type: string
          nullable: true
          enum: [draft, submitted, received, processing, processed, partially_issued, issued, cancelled]
          description: |
            Current indent status in eAushadhi/DVDMS system:
            - draft: Indent created but not submitted
            - submitted: Indent submitted to warehouse
            - received: Warehouse acknowledged receipt
            - processing: Warehouse is processing the indent
            - processed: Indent fully processed
            - partially_issued: Some items issued
            - issued: All items issued
            - cancelled: Indent was cancelled
          example: "partially_issued"
        sync_log_id:
          type: string
          nullable: true
          description: Sync log identifier for tracking DVDMS sync operations
          example: "sync-log-123"
        created_by:
          allOf:
            - $ref: '#/components/schemas/UserSummary'
          readOnly: true
        updated_by:
          allOf:
            - $ref: '#/components/schemas/UserSummary'
          nullable: true
          readOnly: true
        created_date:
          type: string
          format: date-time
          readOnly: true
          example: "2026-05-19 19:29:35.868682+05:30"
        modified_date:
          type: string
          format: date-time
          readOnly: true
          example: "2026-05-21 09:05:00.000000+05:30"

    # ===================== DVDMS Inwards Record Schemas =====================
    DvdmsInwardsRecord:
      type: object
      required:
        - id
        - eaushadhi_issue_no
        - created_at
        - eaushadhi_issue_status
        - outward_record
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: Inwards record external_id
          example: "issue-uuid-1"
        eaushadhi_issue_no:
          type: string
          description: eAushadhi/DVDMS issue number
          example: "ISS-2026-005678"
        created_at:
          type: string
          format: date-time
          description: Inwards record creation timestamp
          example: "2026-05-20 10:30:00.000000+05:30"
        eaushadhi_issue_status:
          type: string
          enum: [draft, pending, received, partially_received, completed, cancelled]
          description: |
            Current issue status in eAushadhi/DVDMS system:
            - draft: Issue created but not submitted
            - pending: Issue submitted, awaiting receipt
            - received: Issue received at destination
            - partially_received: Some items received
            - completed: All items received
            - cancelled: Issue cancelled
          example: "received"
        outward_record:
          type: string
          format: uuid
          description: Reference to outward record UUID
          example: "outwards-uuid-1"
        eaushadhi_indent_no:
          type: string
          nullable: true
          description: eAushadhi/DVDMS indent number
          example: "IND-2026-001234"
        sync_log_id:
          type: string
          nullable: true
          description: Sync log identifier for tracking DVDMS sync operations
          example: "sync-log-456"

    # ===================== DVDMS Indent Status History Schemas =====================
    DvdmsIndentStatusHistory:
      type: object
      required:
        - id
        - outwards_record
        - indent_status
        - checked_at
        - created_date
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: Status history entry external_id
          example: "status-history-uuid-1"
        outwards_record:
          type: string
          format: uuid
          description: Reference to outwards record UUID
          example: "outwards-uuid-1"
        indent_status:
          type: string
          enum: [draft, submitted, received, processing, processed, cancelled]
          description: |
            Indent status at this point in time:
            - draft: Indent created but not submitted
            - submitted: Indent submitted to warehouse
            - received: Warehouse acknowledged receipt
            - processing: Warehouse is processing the indent
            - processed: Indent fully processed and items dispatched
            - cancelled: Indent was cancelled
          example: "received"
        status_details:
          type: object
          nullable: true
          description: Raw response from DVDMS status check API
          example:
            indent_id: "IND-2026-001234"
            current_status: "received"
            warehouse_name: "Bokaro DWH"
            received_date: "2026-05-19 19:45:00"
            received_by: "Warehouse Manager"
        checked_at:
          type: string
          format: date-time
          description: Timestamp when status was checked from DVDMS
          example: "2026-05-19 19:50:00.000000+05:30"
        created_by:
          allOf:
            - $ref: '#/components/schemas/UserSummary'
[...]
