openapi: 3.0.3
info:
  title: DVDMS Integration Plugin - Institute API
  description: |
    API specification for managing facility-to-DVDMS institutes.

    Each CARE facility can have exactly ONE institute (UNIQUE on facility_id).
    The institute establishes the connection between CARE and the DVDMS system.
  version: 1.0.0
  contact:
    name: Jagankumar E
    email: jagan.kumar@egov.org.in

servers:
  - url: https://care.ohc.network/api/care_dvdms
    description: Dev server
  - url: https://care-k3s.digit.org/api/care_dvdms
    description: Egov server

tags:
  - name: Institutes
    description: Manage facility to DVDMS institutes
  - name: Supplier Mappings
    description: Manage supplier (warehouse) mappings for institutes
  - name: Store Mappings
    description: Manage store mappings for institutes
  - name: DVDMS Lookups
    description: Lookup data directly from DVDMS system (warehouses, stores, etc.)
  - name: Record Orders
    description: Manage DVDMS record orders (indents/requisitions)
  - name: Record Item Orders
    description: Manage individual items in DVDMS record orders
  - name: DVDMS Outwards Record
    description: Manage outwards records for DVDMS indent creation and sync status

security:
  - BearerAuth: []

paths:
  /facility/{facility_id}/institute/:
    post:
      tags:
        - Institutes
      summary: Create institute for a facility
      description: |
        Create a mapping between a CARE facility and DVDMS institute.
        A facility can have only one institute (UNIQUE on facility_id).

        **Note:** facility_id is in the URL, so it's automatically set from the path parameter.
      operationId: createInstitute
      parameters:
        - name: facility_id
          in: path
          required: true
          description: CARE facility ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstituteCreate'
            example:
              eaushadhi_institute_id: "000931"
              eaushadhi_user_ref_id: "14462"
              eaushadhi_institute_name: "Ranchi DH"
              schema_version: "1.0"
      responses:
        '201':
          description: Institute created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institute'
              example:
                id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                facility_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                eaushadhi_institute_id: "000931"
                eaushadhi_user_ref_id: "14462"
                eaushadhi_institute_name: "Ranchi DH"
                schema_version: "1.0"
                meta: null
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Conflict - this facility already has a mapping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Institute already exists for this facility"
                code: "MAPPING_EXISTS"
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Institutes
      summary: Get institute for a facility
      description: |
        Retrieve the institute for a specific facility.
        Returns 404 if no mapping exists.
      operationId: getInstitute
      parameters:
        - name: facility_id
          in: path
          required: true
          description: CARE facility ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Institute details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institute'
              example:
                id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                facility_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                eaushadhi_institute_id: "000931"
                eaushadhi_user_ref_id: "14462"
                eaushadhi_institute_name: "Ranchi DH"
                schema_version: "1.0"
                meta: null
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No institute found for this facility
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "No institute found for this facility"
                code: "MAPPING_NOT_FOUND"
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - Institutes
      summary: Update institute for a facility
      description: |
        Update the institute for a specific facility.
        All fields are optional; only supplied fields are updated.
      operationId: updateInstitute
      parameters:
        - name: facility_id
          in: path
          required: true
          description: CARE facility ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstituteUpdate'
            examples:
              update_user_reference:
                summary: Update user reference ID
                value:
                  eaushadhi_user_ref_id: "14463"
              update_schema_version:
                summary: Update schema version
                value:
                  schema_version: "2.0"
              update_multiple:
                summary: Update multiple fields
                value:
                  eaushadhi_user_ref_id: "14464"
                  schema_version: "2.0"
                  meta:
                    last_sync: "2026-05-20T10:30:00Z"
                    notes: "Updated after migration"
      responses:
        '200':
          description: Institute updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institute'
              example:
                id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                facility_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                eaushadhi_institute_id: "000931"
                eaushadhi_user_ref_id: "14464"
                eaushadhi_institute_name: "Ranchi DH"
                schema_version: "2.0"
                meta:
                  last_sync: "2026-05-20T10:30:00Z"
                  notes: "Updated after migration"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by:
                  id: "uuid2"
                  username: "updater"
                  first_name: "Update"
                  last_name: "User"
                  email: "updater@example.com"
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-20 10:35:22.123456+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No institute found for this facility
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "No institute found for this facility"
                code: "MAPPING_NOT_FOUND"
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- Supplier Mappings ----------
  /facility/{facility_id}/institute/{institute_id}/suppliers/:
    post:
      tags:
        - Supplier Mappings
      summary: Add a supplier mapping
      description: |
        Add a supplier (warehouse) mapping to the institute.
        Maps a CARE supplier to a DVDMS warehouse name for inward matching.
        At most one supplier can be marked as default.
      operationId: createSupplierMapping
      parameters:
        - name: facility_id
          in: path
          required: true
          description: CARE facility ID (UUID)
          schema:
            type: string
            format: uuid
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierMappingCreate'
            example:
              supplier: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
              eaushadhi_warehouse_id: "99901000"
              eaushadhi_warehouse_name: "Bokaro_DWH"
              is_default: true
      responses:
        '201':
          description: Supplier mapping created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierMapping'
              example:
                id: "uuid1"
                supplier:
                  id: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
                  name: "Medplus"
                  org_type: "product_supplier"
                eaushadhi_warehouse_id: "99901000"
                eaushadhi_warehouse_name: "Bokaro_DWH"
                is_default: true
                institute_id: "uuid"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - supplier already mapped or multiple defaults
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Supplier Mappings
      summary: List supplier mappings
      description: Get all supplier mappings for this institute
      operationId: listSupplierMappings
      parameters:
        - name: facility_id
          in: path
          required: true
          description: CARE facility ID (UUID)
          schema:
            type: string
            format: uuid
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of supplier mappings
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SupplierMapping'
              example:
                count: 2
                results:
                  - id: "uuid1"
                    supplier:
                      id: "5aa85d4e-3456-41fb-aee2-8076f07cb91b"
                      name: "Medplus"
                      org_type: "product_supplier"
                    eaushadhi_warehouse_id: "99901000"
                    eaushadhi_warehouse_name: "Bokaro_DWH"
                    is_default: true
                    created_date: "2026-05-19 19:29:35.868682+05:30"
                  - id: "uuid2"
                    supplier:
                      id: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
                      name: "Apollo Pharmacy"
                      org_type: "product_supplier"
                    eaushadhi_warehouse_id: "99901001"
                    eaushadhi_warehouse_name: "Ranchi_DWH"
                    is_default: false
                    created_date: "2026-05-19 19:29:35.868682+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /facility/{facility_id}/institute/{institute_id}/suppliers/{supplier_mapping_id}/:
    delete:
      tags:
        - Supplier Mappings
      summary: Remove supplier mapping
      description: Soft-delete a supplier mapping
      operationId: deleteSupplierMapping
      parameters:
        - name: facility_id
          in: path
          required: true
          description: CARE facility ID (UUID)
          schema:
            type: string
            format: uuid
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: supplier_mapping_id
          in: path
          required: true
          description: Supplier mapping UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Supplier mapping deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: "Supplier mapping deleted successfully"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- Store Mappings ----------
  /facility/{facility_id}/institute/{institute_id}/stores/:
    post:
      tags:
        - Store Mappings
      summary: Add a store mapping
      description: |
        Add a store mapping to the institute.
        Maps a CARE store to a DVDMS store ID for indent/issue operations.
        At most one store can be marked as default.
      operationId: createStoreMapping
      parameters:
        - name: facility_id
          in: path
          required: true
          description: CARE facility ID (UUID)
          schema:
            type: string
            format: uuid
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreMappingCreate'
            example:
              store: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
              eaushadhi_store_id: "99901002"
              eaushadhi_store_name: "CHC Pharmacy"
              is_default: true
      responses:
        '201':
          description: Store mapping created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreMapping'
              example:
                id: "uuid1"
                store:
                  id: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
                  name: "Counter 1"
                  form: "ro"
                eaushadhi_store_id: "99901002"
                eaushadhi_store_name: "CHC Pharmacy"
                is_default: true
                institute_id: "uuid"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - store already mapped or multiple defaults
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Store Mappings
      summary: List store mappings
      description: Get all store mappings for this institute
      operationId: listStoreMappings
      parameters:
        - name: facility_id
          in: path
          required: true
          description: CARE facility ID (UUID)
          schema:
            type: string
            format: uuid
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of store mappings
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/StoreMapping'
              example:
                count: 2
                results:
                  - id: "uuid1"
                    store:
                      id: "060d0e05-ffdc-446e-b844-d22cd6bced04"
                      name: "Counter 1"
                      form: "ro"
                    eaushadhi_store_id: "99901002"
                    eaushadhi_store_name: "CHC Pharmacy"
                    is_default: true
                    created_date: "2026-05-19 19:29:35.868682+05:30"
                  - id: "uuid2"
                    store:
                      id: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
                      name: "Counter 2"
                      form: "ro"
                    eaushadhi_store_id: "99901003"
                    eaushadhi_store_name: "OPD Pharmacy"
                    is_default: false
                    created_date: "2026-05-19 19:29:35.868682+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /facility/{facility_id}/institute/{institute_id}/stores/{store_mapping_id}/:
    delete:
      tags:
        - Store Mappings
      summary: Remove store mapping
      description: Soft-delete a store mapping
      operationId: deleteStoreMapping
      parameters:
        - name: facility_id
          in: path
          required: true
          description: CARE facility ID (UUID)
          schema:
            type: string
            format: uuid
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: store_mapping_id
          in: path
          required: true
          description: Store mapping UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Store mapping deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: "Store mapping deleted successfully"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- DVDMS Lookups ----------
  /institute/{institute_id}/lookup/warehouses/:
    get:
      tags:
        - DVDMS Lookups
      summary: Lookup warehouses from DVDMS
      description: |
        Fetch the list of available warehouses directly from the DVDMS system
        for this institute.
        Uses the institute's credentials to query DVDMS API.
      operationId: getDvdmsWarehouses
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of DVDMS warehouses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DvdmsWarehouse'
              example:
                - id: 99901062
                  name: "Chas_Chc"
                - id: 99901000
                  name: "JMHIDPCL"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Bad Gateway - Error communicating with DVDMS system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Failed to fetch warehouses from DVDMS"
                code: "DVDMS_API_ERROR"

  /institute/{institute_id}/lookup/stores/:
    get:
      tags:
        - DVDMS Lookups
      summary: Lookup stores from DVDMS
      description: |
        Fetch the list of available stores directly from the DVDMS system
        for this institute.
        Requires a fromStoreid query parameter to specify the source warehouse.
        Uses the institute's credentials to query DVDMS API.
      operationId: getDvdmsStores
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: fromStoreid
          in: query
          required: true
          description: DVDMS warehouse/from_store ID to fetch stores for
          schema:
            type: string
          example: "99901000"
      responses:
        '200':
          description: List of DVDMS stores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DvdmsStore'
              example:
                - id: 99901062
                  name: "Chas_Chc"
                - id: 99901000
                  name: "JMHIDPCL"
        '400':
          description: Bad Request - fromStoreid is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "fromStoreid query parameter is required"
                code: "MISSING_PARAMETER"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Bad Gateway - Error communicating with DVDMS system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Failed to fetch stores from DVDMS"
                code: "DVDMS_API_ERROR"

  /institute/{institute_id}/lookup/drugs/:
    get:
      tags:
        - DVDMS Lookups
      summary: Lookup drugs from DVDMS
      description: |
        Fetch the list of available drugs/items directly from the DVDMS system
        for this institute.
        Supports filtering by group ID, subgroup ID, item category number, and item name.
        Uses the institute's credentials to query DVDMS API.
      operationId: getDvdmsDrugs
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: hstnum_group_id
          in: query
          required: false
          description: Filter by group ID
          schema:
            type: integer
          example: 101047
        - name: hstnum_subgroup_id
          in: query
          required: false
          description: Filter by subgroup ID
          schema:
            type: integer
          example: 0
        - name: sstnum_item_cat_no
          in: query
          required: false
          description: Filter by item category number
          schema:
            type: string
          example: "10"
        - name: hststr_item_name
          in: query
          required: false
          description: Filter by item name (partial match/search)
          schema:
            type: string
          example: "abc 500mg"
      responses:
        '200':
          description: List of DVDMS drugs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DvdmsDrug'
              example:
                - hstnum_item_id: 10002270
                  gnum_hospital_code: 998
                  hstnum_group_id: 101047
                  hstnum_subgroup_id: 0
                  sstnum_item_cat_no: "10"
                  hststr_item_name: "abc 500mg tablet(500mg ),Tablet"
                  hstnum_batchno_req: 1
                  hstnum_expirydate_req: 1
                  gnum_inventory_unitid: 630001
                  gdt_effective_frm: "Feb 11, 2025 12:00:00 AM"
                  gnum_lstmod_seatid: 0
                  gdt_entry_date: "Feb 11, 2025 11:31:54 AM"
                  gnum_seatid: 14462
                  gnum_isvalid: 1
                  hststr_cpa_code: "0"
                  hstnum_itembrand_id: 10103406
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Bad Gateway - Error communicating with DVDMS system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Failed to fetch drugs from DVDMS"
                code: "DVDMS_API_ERROR"

  /institute/{institute_id}/lookup/groups/:
    get:
      tags:
        - DVDMS Lookups
      summary: Lookup groups from DVDMS
      description: |
        Fetch the list of available drug groups directly from the DVDMS system
        for this institute.
        Uses the institute's credentials to query DVDMS API.
      operationId: getDvdmsGroups
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of DVDMS drug groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DvdmsGroup'
              example:
                - gnumHospitalCode: 998
                  hstnumGroupId: 101038
                  hststrGroupName: "Anticonvulsants/Antiepileptics"
                  gstrRemarks: "As per GOI EDL 2011"
                  gdtEffectiveFrm: "Apr 1, 2011 12:00:00 AM"
                  gdtEntryDate: "Apr 12, 2017 10:45:40 AM"
                  gnumSeatid: 10001
                  gnumIsvalid: 1
                  sstnumItemCatNo: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Bad Gateway - Error communicating with DVDMS system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Failed to fetch groups from DVDMS"
                code: "DVDMS_API_ERROR"

  /institute/{institute_id}/lookup/subgroups/:
    get:
      tags:
        - DVDMS Lookups
      summary: Lookup subgroups from DVDMS
      description: |
        Fetch the list of available drug subgroups directly from the DVDMS system
        for this institute.
        Optionally filter by group ID to get subgroups for a specific group.
        Uses the institute's credentials to query DVDMS API.
      operationId: getDvdmsSubgroups
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: groupid
          in: query
          required: false
          description: Filter subgroups by parent group ID
          schema:
            type: integer
          example: 101011
      responses:
        '200':
          description: List of DVDMS drug subgroups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DvdmsSubgroup'
              example:
                - gnumHospitalCode: 998
                  hstnumSubgroupId: 101075
                  hstnumGroupId: 101011
                  hststrSubgroupName: "Anti Fungal Medicines"
                  gdtEffectiveFrm: "Apr 1, 2011 12:00:00 AM"
                  gstrRemarks: "As per GOI EDL 2011"
                  gdtEntryDate: "Apr 12, 2017 11:10:21 AM"
                  gnumSeatid: 10001
                  gnumIsvalid: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Bad Gateway - Error communicating with DVDMS system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Failed to fetch subgroups from DVDMS"
                code: "DVDMS_API_ERROR"

  /institute/{institute_id}/lookup/units/:
    get:
      tags:
        - DVDMS Lookups
      summary: Lookup units from DVDMS
      description: |
        Fetch the list of available inventory units directly from the DVDMS system
        for this institute.
        Uses the institute's credentials to query DVDMS API.
      operationId: getDvdmsUnits
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of DVDMS inventory units
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DvdmsUnit'
              example:
                - gnumUnitId: 630005
                  gstrUnitName: "ML"
                  gnumModuleId: 63
                  gnumBaseunitId: 0
                  gdtEffectiveFrm: "Jan 1, 0001"
                  gnumLstmodSeatid: 0
                  gdtEntryDate: "Jan 3, 0001"
                  gnumSeatid: 10001
                  gnumIsvalid: 1
                  gnumUnitLevel: 3
                  gnumHospitalCode: 998
                  gnumDecimalAllowed: 0
                  gnumBaseUnitvalue: 1.0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Bad Gateway - Error communicating with DVDMS system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Failed to fetch units from DVDMS"
                code: "DVDMS_API_ERROR"

  # ---------- Record Orders ----------
  /institute/{institute_id}/record_order/:
    post:
      tags:
        - Record Orders
      summary: Create a record order
      description: |
        Create a new record order (indent/requisition) for DVDMS integration.
        This represents an order that will be synced to DVDMS.
      operationId: createRecordOrder
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordOrderCreate'
            example:
              name: "eaushadhi"
              order: "61808cc9-4c50-4eda-9803-0e914b23f342"
              institute_store: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
              institute_supplier: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
              status: "draft"
      responses:
        '201':
          description: Record order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordOrder'
              example:
                id: "uuid1"
                name: "eaushadhi"
                order:
                  id: "4df37546-7b7b-4e5b-b135-9179838a6962"
                  name: "eaushadhi"
                  category: "central"
                  intent: "order"
                  priority: "routine"
                  reason: "patient_care"
                  status: "draft"
                  note: ""
                  tags: []
                  origin: null
                  destination:
                    id: "4b16b242-984d-4702-8ffb-b68b27f5f310"
                    status: "active"
                    operational_status: "U"
                  supplier:
                    id: "67be622b-6661-4968-94de-e29f74504dcf"
                    active: true
                    org_type: "product_supplier"
                  created_by:
                    id: "f67a7b88-b91f-4056-9ee9-871591ea1dcb"
                    username: "admin"
                    first_name: ""
                    last_name: ""
                    email: "admin@example.com"
                  updated_by: null
                  created_date: "2026-08-11T10:05:48.155327Z"
                  modified_date: "2026-08-11T10:05:48.155343Z"
                institute_store:
                  id: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
                  eaushadhi_store_id: "99901002"
                  eaushadhi_store_name: "CHC Pharmacy"
                  store:
                    id: "060d0e05-ffdc-446e-b844-d22cd6bced04"
                    name: "Counter 1"
                    form: "ro"
                institute_supplier:
                  id: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
                  eaushadhi_warehouse_id: "99901000"
                  eaushadhi_warehouse_name: "Bokaro_DWH"
                  supplier:
                    id: "5aa85d4e-3456-41fb-aee2-8076f07cb91b"
                    name: "Medplus"
                    org_type: "product_supplier"
                status: "draft"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Facility or institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Record Orders
      summary: List record orders
      description: |
        Retrieve a paginated list of record orders for an institute.
      operationId: listRecordOrders
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: Number of results to return per page
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          required: false
          description: The initial index from which to return the results
          schema:
            type: integer
            default: 0
        - name: order
          in: query
          required: false
          description: Filter by order UUID
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: Filter by status
          schema:
            type: string
            enum: [draft, pending, approved, rejected, completed]
        - name: ordering
          in: query
          required: false
          description: "Order by field (e.g., -created_date, name). Prefix with '-' for descending order."
          schema:
            type: string
            example: "-created_date"
      responses:
        '200':
          description: Record orders retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - count
                  - results
                properties:
                  count:
                    type: integer
                    description: Total number of record orders
                    example: 1
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecordOrder'
              example:
                count: 1
                results:
                  - id: "uuid1"
                    name: "eaushadhi"
                    order:
                      id: "4df37546-7b7b-4e5b-b135-9179838a6962"
                      name: "eaushadhi"
                      category: "central"
                      intent: "order"
                      priority: "routine"
                      reason: "patient_care"
                      status: "draft"
                    institute_store:
                      id: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
                      eaushadhi_store_id: "99901002"
                      eaushadhi_store_name: "CHC Pharmacy"
                      store:
                        id: "060d0e05-ffdc-446e-b844-d22cd6bced04"
                        name: "Counter 1"
                        form: "ro"
                    institute_supplier:
                      id: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
                      eaushadhi_warehouse_id: "99901000"
                      eaushadhi_warehouse_name: "Bokaro_DWH"
                      supplier:
                        id: "5aa85d4e-3456-41fb-aee2-8076f07cb91b"
                        name: "Medplus"
                        org_type: "product_supplier"
                    status: "draft"
                    created_by:
                      id: "uuid"
                      username: "admin"
                      first_name: "Admin"
                      last_name: "User"
                      email: "admin@example.com"
                    updated_by: null
                    created_date: "2026-05-19 19:29:35.868682+05:30"
                    modified_date: "2026-05-19 19:29:35.868682+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /institute/{institute_id}/record_order/{record_order_id}/:
    patch:
      tags:
        - Record Orders
      summary: Update record order
      description: |
        Update record order fields like status. All fields are optional.
      operationId: updateRecordOrder
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_order_id
          in: path
          required: true
          description: Record Order UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [draft, pending, approved, rejected, completed]
                  description: Update order status
                  example: "approved"
            example:
              status: "approved"
      responses:
        '200':
          description: Record order updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordOrder'
              example:
                id: "uuid1"
                name: "eaushadhi"
                order:
                  id: "4df37546-7b7b-4e5b-b135-9179838a6962"
                  name: "eaushadhi"
                  category: "central"
                  status: "draft"
                institute_store:
                  id: "c2f8d3b5-ae90-4f7c-b401-8e3c9d6f1b25"
                  eaushadhi_store_id: "99901002"
                  eaushadhi_store_name: "CHC Pharmacy"
                  store:
                    id: "060d0e05-ffdc-446e-b844-d22cd6bced04"
                    name: "Counter 1"
                    form: "ro"
                institute_supplier:
                  id: "b1e7c2a4-9d8f-4e6b-a3c1-7f2d8e5b9c34"
                  eaushadhi_warehouse_id: "99901000"
                  eaushadhi_warehouse_name: "Bokaro_DWH"
                  supplier:
                    id: "5aa85d4e-3456-41fb-aee2-8076f07cb91b"
                    name: "Medplus"
                    org_type: "product_supplier"
                status: "approved"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by:
                  id: "uuid2"
                  username: "manager"
                  first_name: "Manager"
                  last_name: "User"
                  email: "manager@example.com"
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:35:00.000000+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- DVDMS Outwards Record ----------
  /institute/{institute_id}/record_order/{record_order_id}/outward/:
    get:
      tags:
        - DVDMS Outwards Record
      summary: Get DVDMS outwards record for a record order
      description: |
        Retrieve the outwards record with sync status and details for a specific record order.
      operationId: getOutwardsRecord
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_order_id
          in: path
          required: true
          description: Record Order UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Outwards record retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvdmsOutwardsRecord'
              example:
                id: "outwards-uuid-1"
                eaushadhi_indent_no: "IND-2026-001234"
                status: "created"
                eaushadhi_indent_status: "partially_issued"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-21 09:05:00.000000+05:30"
                sync_log_id: "sync-log-123"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /institute/{institute_id}/record_order/{record_order_id}/outward/fetch-inwards/:
    post:
      tags:
        - DVDMS Outwards Record
      summary: Fetch inwards/issues from DVDMS
      description: |
        Trigger fetching of inward/issue status from DVDMS API for a specific record order.
        This endpoint calls the external DVDMS API to check for issues and their statuses,
        and updates the outwards record with the latest issue information.
      operationId: fetchInwards
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_order_id
          in: path
          required: true
          description: Record Order UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Inwards/issues fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvdmsOutwardsRecord'
              example:
                id: "outwards-uuid-1"
                eaushadhi_indent_no: "IND-2026-001234"
                status: "created"
                eaushadhi_indent_status: "partially_issued"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-21 09:05:00.000000+05:30"
                sync_log_id: "sync-log-123"
        '400':
          description: Bad request (e.g., outwards record not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Cannot fetch inwards: outwards record not found"
                code: "OUTWARDS_RECORD_NOT_FOUND"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record order or outwards record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /institute/{institute_id}/record_inwards/:
    post:
      tags:
        - DVDMS Inwards Record
      summary: Create an inwards record
      description: |
        Create a new inwards/issue record for an institute. The record is created with draft status.
      operationId: createInwardsRecord
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DvdmsInwardsRecordCreate'
            example:
              eaushadhi_issue_no: "ISS-2026-005678"
              outward_record: "outwards-uuid-1"
              eaushadhi_indent_no: "IND-2026-001234"
      responses:
        '201':
          description: Inwards record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvdmsInwardsRecord'
              example:
                id: "issue-uuid-1"
                eaushadhi_issue_no: "ISS-2026-005678"
                created_at: "2026-05-20 10:30:00.000000+05:30"
                eaushadhi_issue_status: "draft"
                outward_record: "outwards-uuid-1"
                eaushadhi_indent_no: "IND-2026-001234"
                sync_log_id: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - DVDMS Inwards Record
      summary: Get inwards records for an outwards record
      description: |
        Retrieve paginated list of inwards/issue records associated with an outwards record.
        These represent the issues created in DVDMS for the indent.
      operationId: getInwardsRecords
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Number of results to return per page
          schema:
            type: integer
            default: 10
            example: 10
        - name: offset
          in: query
          description: Number of results to skip
          schema:
            type: integer
            default: 0
            example: 0
      responses:
        '200':
          description: Inwards records retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - count
                  - results
                properties:
                  count:
                    type: integer
                    description: Total number of inwards records
                    example: 2
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/DvdmsInwardsRecord'
              example:
                count: 2
                results:
                  - id: "issue-uuid-1"
                    eaushadhi_issue_no: "ISS-2026-005678"
                    created_at: "2026-05-20 10:30:00.000000+05:30"
                    eaushadhi_issue_status: "received"
                    outward_record: "outwards-uuid-1"
                    eaushadhi_indent_no: "IND-2026-001234"
                    sync_log_id: "sync-log-456"
                  - id: "issue-uuid-2"
                    eaushadhi_issue_no: "ISS-2026-005679"
                    created_at: "2026-05-20 14:15:00.000000+05:30"
                    eaushadhi_issue_status: "pending"
                    outward_record: "outwards-uuid-1"
                    eaushadhi_indent_no: "IND-2026-001234"
                    sync_log_id: "sync-log-457"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /institute/{institute_id}/record_inwards/{record_inward_id}/:
    get:
      tags:
        - DVDMS Inwards Record
      summary: Get inward record with item-level details
      description: |
        Retrieve a specific inward record with all item-level details including
        drug information, batch numbers, manufacturer, received quantities, and status.
      operationId: getInwardRecordDetail
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_inward_id
          in: path
          required: true
          description: Inward Record UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Inward record retrieved successfully with item details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/DvdmsInwardsRecord'
                  - type: object
                    properties:
                      items:
                        type: array
                        description: Item-level details for this inward record
                        items:
                          $ref: '#/components/schemas/DvdmsInwardItemRecord'
              example:
                id: "issue-uuid-1"
                eaushadhi_issue_no: "ISS-2026-005678"
                created_at: "2026-05-20 10:30:00.000000+05:30"
                eaushadhi_issue_status: "received"
                outward_record: "outwards-uuid-1"
                eaushadhi_indent_no: "IND-2026-001234"
                sync_log_id: "sync-log-456"
                items:
                  - id: "inward-item-uuid-1"
                    record_order_item: "record-item-order-uuid-1"
                    drug_id: "10002270"
                    drug_name: "abc 500mg tablet"
                    brand_id: "10103406"
                    batch: "BATCH-2026-001"
                    manufacturer: "ABC Pharmaceuticals Ltd."
                    received_quantity: "100.000000"
                    status: "received"
                    created_by:
                      id: "uuid"
                      username: "admin"
                      first_name: "Admin"
                      last_name: "User"
                      email: "admin@example.com"
                    updated_by: null
                    created_date: "2026-05-20 11:00:00.000000+05:30"
                    modified_date: "2026-05-20 11:30:00.000000+05:30"
                  - id: "inward-item-uuid-2"
                    record_order_item: "record-item-order-uuid-2"
                    drug_id: "10002271"
                    drug_name: "xyz 250mg capsule"
                    brand_id: "10103407"
                    batch: "BATCH-2026-002"
                    manufacturer: "XYZ Pharma Inc."
                    received_quantity: "50.000000"
                    status: "partially_received"
                    created_by:
                      id: "uuid"
                      username: "admin"
                      first_name: "Admin"
                      last_name: "User"
                      email: "admin@example.com"
                    updated_by: null
                    created_date: "2026-05-20 11:15:00.000000+05:30"
                    modified_date: "2026-05-20 11:45:00.000000+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Inward record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- Product Mapping ----------
  /institute/{institute_id}/product-mappings/:
    post:
      tags:
        - Product Mapping
      summary: Create a product mapping
      description: |
        Create a new mapping between an eAushadhi/DVDMS drug and a CARE product for an institute.
      operationId: createProductMapping
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductMappingCreate'
            example:
              eaushadhi_drug_details:
                drug_id: "D00251"
                drug_name: "Ofloxacin Tablet IP 400 mg 1x1"
              product_knowledge_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
      responses:
        '201':
          description: Product mapping created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductMapping'
              example:
                id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                eaushadhi_drug_details:
                  drug_id: "D00251"
                  drug_name: "Ofloxacin Tablet IP 400 mg 1x1"
                product_knowledge_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                usage_count: 0
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Conflict - Product mapping already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Product mapping already exists for this drug"
                code: "MAPPING_EXISTS"
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Product Mapping
      summary: Get product mappings
      description: |
        Retrieve paginated list of product mappings between eAushadhi/DVDMS drugs and CARE products for an institute.
      operationId: getProductMappings
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: eaushadhi_drug_id
          in: query
          description: Filter by eAushadhi drug ID
          schema:
            type: string
        - name: product_knowledge_id
          in: query
          description: Filter by product knowledge UUID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Number of results to return per page
          schema:
            type: integer
            default: 10
            example: 10
        - name: offset
          in: query
          description: Number of results to skip
          schema:
            type: integer
            default: 0
            example: 0
      responses:
        '200':
          description: Product mappings retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - count
                  - results
                properties:
                  count:
                    type: integer
                    description: Total number of product mappings
                    example: 2
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductMapping'
              example:
                count: 2
                results:
                  - id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    eaushadhi_drug_details:
                      drug_id: "D00251"
                      drug_name: "Ofloxacin Tablet IP 400 mg 1x1"
                    product_knowledge_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    usage_count: 15
                    created_by:
                      id: "uuid"
                      username: "admin"
                      first_name: "Admin"
                      last_name: "User"
                      email: "admin@example.com"
                    updated_by: null
                    created_date: "2026-05-19 19:29:35.868682+05:30"
                    modified_date: "2026-05-19 19:29:35.868682+05:30"
                  - id: "4fa85f64-5717-4562-b3fc-2c963f66afa7"
                    eaushadhi_drug_details:
                      drug_id: "D00252"
                      drug_name: "Paracetamol Tablet IP 500 mg 10x10"
                    product_knowledge_id: "4fa85f64-5717-4562-b3fc-2c963f66afa7"
                    usage_count: 0
                    created_by:
                      id: "uuid"
                      username: "admin"
                      first_name: "Admin"
                      last_name: "User"
                      email: "admin@example.com"
                    updated_by: null
                    created_date: "2026-05-20 10:00:00.000000+05:30"
                    modified_date: "2026-05-20 10:00:00.000000+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /institute/{institute_id}/product-mappings/{product_mapping_id}/:
    patch:
      tags:
        - Product Mapping
      summary: Update a product mapping
      description: |
        Update an existing product mapping, including drug details and product knowledge reference.
      operationId: updateProductMapping
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: product_mapping_id
          in: path
          required: true
          description: Product Mapping UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductMappingUpdate'
            example:
              eaushadhi_drug_details:
                drug_id: "D00251"
                drug_name: "Ofloxacin Tablet IP 400 mg 1x1 (Updated)"
              product_knowledge_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
      responses:
        '200':
          description: Product mapping updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductMapping'
              example:
                id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                eaushadhi_drug_details:
                  drug_id: "D00251"
                  drug_name: "Ofloxacin Tablet IP 400 mg 1x1 (Updated)"
                product_knowledge_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                usage_count: 15
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 20:30:00.000000+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Product mapping not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- Record Deliveries ----------
  /institute/{institute_id}/record_inwards/{record_inward_id}/delivery/:
    post:
      tags:
        - Record Deliveries
      summary: Create a record delivery
      description: |
        Link an inward_record to a CARE delivery_order. Each delivery_order belongs
        to exactly one inward_record (UNIQUE on delivery_order_id), but an inward_record
        may have multiple record_deliveries over time (partial imports, supplier splits).
      operationId: createRecordDelivery
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_inward_id
          in: path
          required: true
          description: Inward Record UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordDeliveryCreate'
            example:
              facility_id: "f1a2b3c4-d5e6-7890-abcd-ef1234567890"
              delivery_order_id: "9c0d11ee-aabb-44cc-aa11-bb22cc33dd44"
      responses:
        '201':
          description: Record delivery created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordDelivery'
              example:
                id: "11223344-5566-7788-99aa-bbccddeeff00"
                facility_id: "f1a2b3c4-d5e6-7890-abcd-ef1234567890"
                delivery_order_id: "9c0d11ee-aabb-44cc-aa11-bb22cc33dd44"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Conflict - this delivery_order is already linked to an inward_record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "delivery_order_id is already linked to an inward_record"
                code: "DELIVERY_ORDER_ALREADY_LINKED"
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Record Deliveries
      summary: Get record deliveries for an inward record
      description: |
        Retrieve paginated list of record deliveries for a specific inward record.
      operationId: getRecordDeliveries
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_inward_id
          in: path
          required: true
          description: Inward Record UUID
          schema:
            type: string
            format: uuid
        - name: delivery_order_id
          in: query
          description: Filter by delivery order UUID
          schema:
            type: string
            format: uuid
        - name: facility_id
          in: query
          description: Filter by facility UUID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Number of results to return per page
          schema:
            type: integer
            default: 10
            example: 10
        - name: offset
          in: query
          description: Number of results to skip
          schema:
            type: integer
            default: 0
            example: 0
      responses:
        '200':
          description: Record deliveries retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - count
                  - results
                properties:
                  count:
                    type: integer
                    description: Total number of record deliveries
                    example: 2
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecordDelivery'
              example:
                count: 2
                results:
                  - id: "11223344-5566-7788-99aa-bbccddeeff00"
                    record_inward_id: "issue-uuid-1"
                    facility_id: "f1a2b3c4-d5e6-7890-abcd-ef1234567890"
                    delivery_order_id: "9c0d11ee-aabb-44cc-aa11-bb22cc33dd44"
                    created_by:
                      id: "uuid"
                      username: "admin"
                      first_name: "Admin"
                      last_name: "User"
                      email: "admin@example.com"
                    updated_by: null
                    created_date: "2026-05-19 19:29:35.868682+05:30"
                    modified_date: "2026-05-19 19:29:35.868682+05:30"
                  - id: "22334455-6677-8899-aabb-ccddeeff1122"
                    facility_id: "f1a2b3c4-d5e6-7890-abcd-ef1234567890"
                    delivery_order_id: "aabbccdd-eeff-1122-3344-556677889900"
                    created_by:
                      id: "uuid"
                      username: "admin"
                      first_name: "Admin"
                      last_name: "User"
                      email: "admin@example.com"
                    updated_by: null
                    created_date: "2026-05-20 10:00:00.000000+05:30"
                    modified_date: "2026-05-20 10:00:00.000000+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /institute/{institute_id}/record_inwards/{record_inward_id}/delivery/{delivery_id}/:
    get:
      tags:
        - Record Deliveries
      summary: Get record delivery detail with item-level details
      description: |
        Retrieve a specific record delivery with all item-level delivery details.
      operationId: getRecordDeliveryDetail
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_inward_id
          in: path
          required: true
          description: Inward Record UUID
          schema:
            type: string
            format: uuid
        - name: delivery_id
          in: path
          required: true
          description: Record Delivery UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Record delivery retrieved successfully with item details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/RecordDelivery'
                  - type: object
                    properties:
                      items:
                        type: array
                        description: Item-level delivery details
                        items:
                          $ref: '#/components/schemas/RecordItemDelivery'
              example:
                id: "11223344-5566-7788-99aa-bbccddeeff00"
                facility_id: "f1a2b3c4-d5e6-7890-abcd-ef1234567890"
                delivery_order_id: "9c0d11ee-aabb-44cc-aa11-bb22cc33dd44"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
                items:
                  - id: "item-delivery-uuid-1"
                    record_inward_id: "issue-uuid-1"
                    inward_record_item_id: "inward-item-uuid-1"
                    facility_id: "f1a2b3c4-d5e6-7890-abcd-ef1234567890"
                    supply_delivery_id: "4ef9aa11-2233-44dd-88ee-99ff00112233"
                    record_delivery_id: "11223344-5566-7788-99aa-bbccddeeff00"
                    product_id: "9c0d11ee-aabb-44cc-aa11-bb22cc33dd44"
                    product_knowledge_id: "7fa85f64-5717-4562-b3fc-2c963f66afa7"
                    quantity_dispatched: 100
                    quantity_accepted: 95
                    quantity_damaged: 3
                    quantity_short: 2
                    status: "ACTIVE"
                    deleted: false
                    created_by:
                      id: "uuid"
                      username: "admin"
                      first_name: "Admin"
                      last_name: "User"
                      email: "admin@example.com"
                    updated_by: null
                    created_date: "2026-05-19 19:30:00.000000+05:30"
                    modified_date: "2026-05-19 19:30:00.000000+05:30"
                  - id: "item-delivery-uuid-2"
                    record_inward_id: "issue-uuid-1"
                    inward_record_item_id: "inward-item-uuid-2"
                    facility_id: "f1a2b3c4-d5e6-7890-abcd-ef1234567890"
                    supply_delivery_id: "5fgabb22-3344-55ee-99ff-00112233aabb"
                    record_delivery_id: "11223344-5566-7788-99aa-bbccddeeff00"
                    product_id: "aabbccdd-eeff-2233-4455-667788990011"
                    product_knowledge_id: "8fb96f75-6828-5673-c4gd-3d974f77bgb8"
                    quantity_dispatched: 50
                    quantity_accepted: 48
                    quantity_damaged: 1
                    quantity_short: 1
                    status: "ACTIVE"
                    deleted: false
                    created_by:
                      id: "uuid"
                      username: "admin"
                      first_name: "Admin"
                      last_name: "User"
                      email: "admin@example.com"
                    updated_by: null
                    created_date: "2026-05-19 19:35:00.000000+05:30"
                    modified_date: "2026-05-19 19:35:00.000000+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record delivery not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - Record Deliveries
      summary: Update record delivery status
      description: |
        Update the status of a record delivery.
      operationId: updateRecordDeliveryStatus
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_inward_id
          in: path
          required: true
          description: Inward Record UUID
          schema:
            type: string
            format: uuid
        - name: delivery_id
          in: path
          required: true
          description: Record Delivery UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordDeliveryUpdate'
            example:
              status: "completed"
      responses:
        '200':
          description: Record delivery status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordDelivery'
              example:
                id: "11223344-5566-7788-99aa-bbccddeeff00"
                facility_id: "f1a2b3c4-d5e6-7890-abcd-ef1234567890"
                delivery_order_id: "9c0d11ee-aabb-44cc-aa11-bb22cc33dd44"
                status: "completed"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 20:00:00.000000+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record delivery not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- Record Item Deliveries ----------
  /institute/{institute_id}/record_inwards/{record_inward_id}/delivery/{delivery_id}/items/:
    post:
      tags:
        - Record Item Deliveries
      summary: Create a record item delivery
      description: |
        Record that an inward item record has been imported into CARE.
        The record_item provides drug/batch/quantity context via FK.
        UNIQUE(record_item_id) — Phase 1 assumes one delivery per item.
      operationId: createRecordItemDelivery
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_inward_id
          in: path
          required: true
          description: Inward Record UUID
          schema:
            type: string
            format: uuid
        - name: delivery_id
          in: path
          required: true
          description: Record Delivery UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordItemDeliveryCreate'
            example:
              record_inward_id: "issue-uuid-1"
              inward_record_item_id: "inward-item-uuid-1"
              facility_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
              supply_delivery_id: "4ef9aa11-2233-44dd-88ee-99ff00112233"
              record_delivery_id: "11223344-5566-7788-99aa-bbccddeeff00"
              product_id: "9c0d11ee-aabb-44cc-aa11-bb22cc33dd44"
              product_knowledge_id: "7fa85f64-5717-4562-b3fc-2c963f66afa7"
              quantity_dispatched: 100
              quantity_accepted: 95
              quantity_damaged: 3
              quantity_short: 2
      responses:
        '201':
          description: Record item delivery created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordItemDelivery'
              example:
                id: "item-delivery-uuid-1"
                record_inward_id: "issue-uuid-1"
                inward_record_item_id: "inward-item-uuid-1"
                facility_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                supply_delivery_id: "4ef9aa11-2233-44dd-88ee-99ff00112233"
                record_delivery_id: "11223344-5566-7788-99aa-bbccddeeff00"
                product_id: "9c0d11ee-aabb-44cc-aa11-bb22cc33dd44"
                product_knowledge_id: "7fa85f64-5717-4562-b3fc-2c963f66afa7"
                quantity_dispatched: 100
                quantity_accepted: 95
                quantity_damaged: 3
                quantity_short: 2
                status: "ACTIVE"
                deleted: false
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:30:00.000000+05:30"
                modified_date: "2026-05-19 19:30:00.000000+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Conflict - this record_item already has a delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "An active delivery already exists for this record_item"
                code: "RECORD_ITEM_ALREADY_HAS_DELIVERY"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /institute/{institute_id}/record_inwards/{record_inward_id}/delivery/{delivery_id}/items/{item_delivery_id}/:
    patch:
      tags:
        - Record Item Deliveries
      summary: Update record item delivery
      description: |
        Update a record item delivery (e.g., update quantities or status).
      operationId: updateRecordItemDelivery
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_inward_id
          in: path
          required: true
          description: Inward Record UUID
          schema:
            type: string
            format: uuid
        - name: delivery_id
          in: path
          required: true
          description: Record Delivery UUID
          schema:
            type: string
            format: uuid
        - name: item_delivery_id
          in: path
          required: true
          description: Record Item Delivery UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordItemDeliveryUpdate'
            example:
              quantity_accepted: 98
              quantity_damaged: 1
              quantity_short: 1
              status: "ACTIVE"
      responses:
        '200':
          description: Record item delivery updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordItemDelivery'
              example:
                id: "item-delivery-uuid-1"
                record_inward_id: "issue-uuid-1"
                inward_record_item_id: "inward-item-uuid-1"
                facility_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                supply_delivery_id: "4ef9aa11-2233-44dd-88ee-99ff00112233"
                record_delivery_id: "11223344-5566-7788-99aa-bbccddeeff00"
                product_id: "9c0d11ee-aabb-44cc-aa11-bb22cc33dd44"
                product_knowledge_id: "7fa85f64-5717-4562-b3fc-2c963f66afa7"
                quantity_dispatched: 100
                quantity_accepted: 98
                quantity_damaged: 1
                quantity_short: 1
                status: "ACTIVE"
                deleted: false
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                created_date: "2026-05-19 19:30:00.000000+05:30"
                modified_date: "2026-05-19 20:30:00.000000+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record item delivery not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------- Record Item Orders ----------
  /institute/{institute_id}/record_order/{record_order_id}/item/:
    post:
      tags:
        - Record Item Orders
      summary: Create a record item order
      description: |
        Create a new record item order (line item in an indent/requisition) for DVDMS integration.
        This represents an individual item in an order that will be synced to DVDMS.
      operationId: createRecordItemOrder
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_order_id
          in: path
          required: true
          description: Record Order UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordItemOrderCreate'
            example:
              supply_request: "2e1cb879-8101-4160-b324-bc97e07c35f3"
              drug:
                id: "10002270"
                name: "abc 500mg tablet"
                brand_id: "10103406"
                group_id: "101047"
                sub_group_id: "0"
                unit_id: "630001"
                drug_category: "10"
      responses:
        '201':
          description: Record item order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordItemOrder'
              example:
                id: "uuid-item-order-1"
                supply_request:
                  id: "2e1cb879-8101-4160-b324-bc97e07c35f3"
                  item:
                    id: "566db5e4-0533-4d7c-8deb-15a3d58c8d53"
                    alternate_identifier: null
                    status: "active"
                  order:
                    id: "a5537270-af4e-4c27-8906-e56569f599ce"
                    status: "pending"
                    name: "Test Order flow"
                    category: "central"
                    intent: "order"
                    priority: "routine"
                    reason: "patient_care"
                  quantity: "16.000000"
                  status: "active"
                drug:
                  id: "10002270"
                  name: "abc 500mg tablet"
                  brand_id: "10103406"
                  group_id: "101047"
                  sub_group_id: "0"
                  unit_id: "630001"
                  drug_category: "10"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by: null
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:29:35.868682+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute or record order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags:
        - Record Item Orders
      summary: List record item orders
      description: |
        Retrieve a paginated list of record item orders for a record order.
      operationId: listRecordItemOrders
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_order_id
          in: path
          required: true
          description: Record Order UUID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: Number of results to return per page
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          required: false
          description: The initial index from which to return the results
          schema:
            type: integer
            default: 0
        - name: record_order
          in: query
          required: false
          description: Filter by record order UUID
          schema:
            type: string
            format: uuid
        - name: order
          in: query
          required: false
          description: Filter by order UUID
          schema:
            type: string
            format: uuid
        - name: ordering
          in: query
          required: false
          description: "Order by field (e.g., -created_date, name). Prefix with '-' for descending order."
          schema:
            type: string
            example: "-created_date"
      responses:
        '200':
          description: Record item orders retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - count
                  - results
                properties:
                  count:
                    type: integer
                    description: Total number of record item orders
                    example: 1
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecordItemOrder'
              example:
                count: 1
                results:
                  - id: "uuid-item-order-1"
                    supply_request:
                      id: "2e1cb879-8101-4160-b324-bc97e07c35f3"
                      item:
                        id: "566db5e4-0533-4d7c-8deb-15a3d58c8d53"
                        alternate_identifier: null
                        status: "active"
                      order:
                        id: "a5537270-af4e-4c27-8906-e56569f599ce"
                        status: "pending"
                        name: "Test Order flow"
                        category: "central"
                        intent: "order"
                        priority: "routine"
                        reason: "patient_care"
                      quantity: "16.000000"
                      status: "active"
                    drug:
                      id: "10002270"
                      name: "abc 500mg tablet"
                      brand_id: "10103406"
                      group_id: "101047"
                      sub_group_id: "0"
                      unit_id: "630001"
                      drug_category: "10"
                    created_by:
                      id: "uuid"
                      username: "admin"
                      first_name: "Admin"
                      last_name: "User"
                      email: "admin@example.com"
                    updated_by: null
                    created_date: "2026-05-19 19:29:35.868682+05:30"
                    modified_date: "2026-05-19 19:29:35.868682+05:30"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Institute not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /institute/{institute_id}/record_order/{record_order_id}/item/{record_order_item_id}/:
    patch:
      tags:
        - Record Item Orders
      summary: Update record item order
      description: |
        Update record item order fields including drug information. All fields are optional.
      operationId: updateRecordItemOrder
      parameters:
        - name: institute_id
          in: path
          required: true
          description: Institute UUID
          schema:
            type: string
            format: uuid
        - name: record_order_id
          in: path
          required: true
          description: Record Order UUID
          schema:
            type: string
            format: uuid
        - name: record_order_item_id
          in: path
          required: true
          description: Record Item Order UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                drug:
                  $ref: '#/components/schemas/DrugInfo'
                  description: Update drug information
            example:
              drug:
                id: "10002270"
                name: "abc 500mg tablet - updated"
                brand_id: "10103406"
                group_id: "101047"
                sub_group_id: "0"
                unit_id: "630001"
                drug_category: "10"
      responses:
        '200':
          description: Record item order updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordItemOrder'
              example:
                id: "uuid-item-order-1"
                supply_request:
                  id: "2e1cb879-8101-4160-b324-bc97e07c35f3"
                  item:
                    id: "566db5e4-0533-4d7c-8deb-15a3d58c8d53"
                    alternate_identifier: null
                    status: "active"
                  order:
                    id: "a5537270-af4e-4c27-8906-e56569f599ce"
                    status: "pending"
                    name: "Test Order flow"
                  quantity: "16.000000"
                  status: "active"
                drug:
                  id: "10002270"
                  name: "abc 500mg tablet - updated"
                  brand_id: "10103406"
                  group_id: "101047"
                  sub_group_id: "0"
                  unit_id: "630001"
                  drug_category: "10"
                created_by:
                  id: "uuid"
                  username: "admin"
                  first_name: "Admin"
                  last_name: "User"
                  email: "admin@example.com"
                updated_by:
                  id: "uuid2"
                  username: "pharmacist"
                  first_name: "Pharmacist"
                  last_name: "User"
                  email: "pharmacist@example.com"
                created_date: "2026-05-19 19:29:35.868682+05:30"
                modified_date: "2026-05-19 19:40:00.000000+05:30"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Record item order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication

  schemas:
    # Shared user object used in created_by / updated_by fields
    UserSummary:
      type: object
      required:
        - id
        - username
        - first_name
        - last_name
        - email
      properties:
        id:
          type: string
          format: uuid
          example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        username:
          type: string
          example: "admin"
        first_name:
          type: string
          example: "Admin"
        last_name:
          type: string
          example: "User"
        email:
          type: string
          format: email
          example: "admin@example.com"

    # Shared supplier object used in supplier mappings
    SupplierSummary:
      type: object
      required:
        - id
        - name
[...]
